<a href="{{ article.url }}" class="item__card">
    <div class="relative">
        <img src="{{ article.image.src | img_url: '1200x800', crop:'center'  }}" loading="lazy" class="w-full mb-6">
        <p class="font-matter text-brown text-13 mb-2">{{ article.published_at | date: format: 'abbreviated_date' }}</p>
        <div class="item__card-hover glow-bubble"></div>
        <div class="item__card-hover-text">Read More</div>
    </div>
    <div>
        {% if category != blank %}
            <p class="item__card-category block font-italic text-24 -mb-1 lg:text-20">{{ category }} —</p>
        {% endif %}
        <p class="item__card-title block font-matterlight text-24 lg:text-20">{{ article.title }}</p>
    </div>
    {% if template contains 'blog' %}
        <div class="text-17 leading-[1.59] mt-6 md:mt-5 md:text-15">{{ article.excerpt_or_content | split: '.' | first }}</div>
    {% endif %}
</a>