{% if customer %}
<ul class="customer-links">
  <li class="my_acc visible-xs visible-sm"{% if settings.enable_multilang %}data-translate="layout.customer.account"{% endif %}>
    {{ 'layout.customer.title' | t }}
  </li>
  <li>
    <a id="customer_logout_link" href="{{ routes.account_logout_url }}" {% if settings.enable_multilang %}data-translate="layout.customer.log_out"{% endif %}>{{ 'layout.customer.log_out' | t }}</a>
  </li>
  <li class="">
    <a href="{{ routes.account_url }}" {% if settings.enable_multilang %}data-translate="customer.account.title"{% endif %}>{{ 'customer.account.title' | t }}</a>
  </li>
  {% if settings.enable_wishlist %}
  <li class="wishlist">
    <a href="{{ pages['wish-list'].url }}" {% if settings.enable_multilang %}data-translate="wishlist.general.my_wishlist"{% endif %}>
      {{ 'wishlist.general.my_wishlist' | t }}
    </a>
  </li>
  {% endif %}
</ul>
{% else %}
<ul class="customer-links">   
  <li class="my_acc visible-xs visible-sm"{% if settings.enable_multilang %}data-translate="layout.customer.account"{% endif %}>
        	 {{ 'layout.customer.title' | t }}
      </li>
  <li>
    <a id="customer_login_link" href="{{ routes.account_login_url }}" {% if settings.enable_multilang %}data-translate="customer.login.sign_in"{% endif %}>{{ 'customer.login.sign_in' | t }}</a>
  </li>
  <li class="">
    <a id="customer_register_link" href="{{ routes.account_register_url }}" {% if settings.enable_multilang %}data-translate="layout.customer.create_account"{% endif %}>{{ 'layout.customer.create_account' | t }}</a>
  </li>

  {% if settings.enable_wishlist %}
  <li class="wishlist">
    <a href="{{ pages['wish-list'].url }}" {% if settings.enable_multilang %}data-translate="wishlist.general.my_wishlist"{% endif %}>
      {{ 'wishlist.general.my_wishlist' | t }}
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
