<div class="wrapper-top-cart">
  <p class="top-cart">             
    <a href="javascript:void(0)" class="cartToggle">
      <span class="first" {% if settings.enable_multilang %}data-translate="cart.general.shopping_cart"{% endif %}>{{ 'cart.general.shopping_cart' | t }}</span>
      <span class="cartCount">{{ cart.item_count }}</span><span class="fixcartCount">{{ cart.item_count }}</span>
    <span class="icon"></span>
    </a>
    
  </p>
  <div class="dropdown-cart" style="display:none"> 
    <div class="no-items">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p class="text-continue"><a href="javascript:void(0)" {% if settings.enable_multilang %}data-translate="cart.ajax_cart.continue_shopping"{% endif %}>{{ 'cart.ajax_cart.continue_shopping' | t }}</a></p>
    </div>
    <div class="has-items">
      <ol class="mini-products-list">  
        {% for item in cart.items %}
        <li class="item" id="cart-item-{{item.id}}">
          <a href="{{item.url}}" class="product-image">
            <img src="{{ item.image | product_img_url: 'small' }}" alt="{{item.title}}">
          </a>
          <div class="product-details">
            <a href="javascript:void(0)" title="{{ 'cart.general.remove' | t }}" class="btn-remove">
              <svg viewBox="0 0 24 24" id="icon-close" width="100%" height="100%">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
              </svg>
            </a>
            {% if settings.show_vendor %}
            <p class="pro_vendor">{{item.vendor}}</p>
            {% endif %}
            <p class="product-name">
              <a href="{{item.url}}">
                {% if settings.enable_multilang %}
                <span class="lang1">{{ item.product.title | split: '|' | first }}</span>
                <span class="lang2">{{ item.product.title | split: '|' | last }}</span>
                {% else %}
                {{ item.product.title | split: '|' | first }}
                {% endif %}
             
            
            
              {% if item.product.variants.size != 0 %}
              {% unless item.variant.title contains 'Default' %}
               - <small>{{ item.variant.title }}</small>
              {% endunless %}
              {% endif %}
                 </a>
            </p>
            <div class="cart-collateral"><span class="price">{{item.price | money}} <b>x {{item.quantity}}</b> </span></div>
          </div>
        </li>
        {% endfor %}
      </ol>
      <div class="summary">                
        <p class="total">
          <span class="label"><span {% if settings.enable_multilang %}data-translate="cart.label.total"{% endif %}>{{ 'cart.label.total' | t }}</span>:</span>
          <span class="price">{{cart.total_price | money}}</span> 
        </p>
      </div>
      

      {% if settings.enable_checkbox %}
      <div class="checkbox-group">
        <input class="conditions" type="checkbox" name="conditions">
        <label>{% render 'multilang' with settings.checkbox_text %}</label>
      </div>
      <div class="actions">
        <button class="btn btn-checkout show" onclick="window.location='{{ routes.cart_url | split: '/cart' | first }}/checkout'" {% if settings.enable_multilang %}data-translate="cart.general.checkout"{% endif %}>{{ 'cart.general.checkout' | t }}</button>
      </div>
      {% else %}
      <div class="actions">
        <button class="btn btn-checkout" onclick="window.location='{{ routes.cart_url | split: '/cart' | first }}/checkout'" {% if settings.enable_multilang %}data-translate="cart.general.checkout"{% endif %}>{{ 'cart.general.checkout' | t }}</button>
      </div>
      {% endif %}


      <p class="text-cart"><a href="{{ routes.cart_url }}" {% if settings.enable_multilang %}data-translate="cart.general.view_cart"{% endif %}>{{ 'cart.general.view_cart' | t }}</a></p>
    </div>
  </div>
</div>