<a href="{{ prod.url }}" class="item__card">
    <div class="relative">
        <img src="{{ prod.featured_image | img_url: '1200x1500', crop:'center'  }}" loading="lazy" width="1200" height="1500" class="w-full mb-4" alt="{{ prod.featured_image.alt }}">
        <div class="item__card-hover glow-bubble"></div>
        <div class="item__card-hover-text">Shop Now</div>
    </div>
    <div>
        {% if prod.type != blank %}
            <p class="item__card-category block font-italic text-24 -mb-1 lg:text-20">{{ prod.type }} —</p>
        {% endif %}
        <p class="item__card-title block font-matterlight text-24 lg:text-20">{{ prod.title }}</p>
    </div>
    <p class="item__card-price font-matter text-18 text-brown tracking-widest">{{ prod.price | money_without_trailing_zeros }}</p>
</a>