{% section 'header-wordmark-brown' %}

<div class="hero account bg-cream pt-40 md:pt-[114px]">
  <div class="container-975 pt-20 pb-40 md:py-8 space-y-8">
    <div class="text-center"><a href="/account/" class="font-matter tracking-wider text-13 leading-tight text-brown pb-1 border-b border-brown hover:text-orange hover:border-orange">Back to Account</a></div>
    <h1 class="mb-5 text-[50px] font-heading text-center lg:text-30">Order {{ order.name }}</h1>
    <p class="mt-3 text-center">{{ order.created_at | date: format: 'date_at_time' }}</p>
    {% if order.cancelled %}
      <div class="mt-10 p-6">
        <p class="font-matter tracking-wider text-13 ">Order Cancelled</p>
        <p>{{ order.cancelled_at | date: "%B %d, %Y %I:%M%p"}}</p>
        <p>{{ order.cancel_reason }}</p>
      </div>
    {% endif %}
    <div class="order">
      <div class="w-full space-y-8">
        <table class="w-full lg:block">
          <thead class="lg:hidden">
            <tr class="h-[36px]">
              <th colspan="3" class="text-left font-matter tracking-wider text-13 ">Product</th>
              <th class="hidden font-matter tracking-wider text-13 sm_min:table-cell text-center">Price</th>
              <th class="hiddenfont-matter tracking-wider text-13  sm_min:table-cell text-center">Qty</th>
              <th class="font-matter tracking-wider text-13 text-right">Total</th>
            </tr>
          </thead>
          <tbody class="lg:block">
            {% for line_item in order.line_items %}
              <tr class="h-[160px] border-t border-brown lg:h-auto lg:py-5 lg:flex lg:space-between lg:gap-5">
                <td colspan="3" class="lg:block">
                  <div class="flex items-center">
                    <div class="flex-shrink w-36 pr-6 lg:hidden">
                      <a href="{{ line_item.product.url }}">
                        <img
                          src="{{ line_item.image | img_url: '105x', scale: 2 }}"
                          width="{{ line_item.image.width }}"
                          height="{{ line_item.image.height }}"
                          alt="{{ line_item.image.alt | escape }}"
                          class="max-w-[105px]"
                          loading="lazy">
                      </a>
                    </div>
                    <div class="flex-grow">
                      <div>
                        <a href="{{ line_item.product.url }}" class="font-matterlight text-24 tracking-[.05em] inline-block mb-1 md:text-20 hover:text-orange">
                          {{ line_item.product.title }}
                        </a>
                        {% unless line_item.product.has_only_default_variant %}
                          <ul>
                            {% for option in line_item.options_with_values %}
                              <li class="font-matter text-13">{{ option.name }}: {{ option.value }}</li>
                            {% endfor %}
                          </ul>
                        {% endunless %}                        
                      </div>
                      {%- if line_item.properties != empty -%}
                        <ul class="mt-2 mb-5 text-xs">
                          {%- for property in line_item.properties -%}
                            {%- assign first_character_in_key = property.first | truncate: 1, '' -%}
                            {%- if property.last == blank or first_character_in_key == '_' -%}
                              {%- continue -%}
                            {%- endif -%}
                            <li class="uppercase">{{ property.first }}: {{ property.last }}</li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                      {% if line_item.fulfillment %}
                        <div class="mt-3 text-xs">
                          <span class="px-1 mr-1 bg-orange rounded-sm text-cream font-matter tracking-wider text-13">Fillfilled</span> 
                          {{ line_item.fulfillment.created_at | date: format: 'abbreviated_date' }}
                        </div>
                        {% if line_item.fulfillment.tracking_number %}
                          <div class="mt-1 text-xs">
                            <span class="px-1 mr-2 bg-orange rounded-sm text-cream font-matter tracking-wider text-13">Tracking</span> 
                            {% if line_item.fulfillment.tracking_url %}
                              <a href="{{ line_item.fulfillment.tracking_url }}" target="_blank" class="underline hover:no-underline">
                                {{ line_item.fulfillment.tracking_number }}
                              </a>
                            {% else %}
                              {{ line_item.fulfillment.tracking_number }}
                            {% endif %}
                          </div>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </td>
                <td class="hidden sm_min:table-cell text-center">{{ line_item.price | money_without_trailing_zeros }}</td>
                <td class="hidden sm_min:table-cell text-center">{{ line_item.quantity }}</td>
                <td class="text-right lg:flex-grow">{{ line_item.quantity | times: line_item.price | money_without_trailing_zeros }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="w-full">
          <tr>
            <td>Subtotal</td>
            <td class="text-right">{{ order.line_items_subtotal_price | money_without_trailing_zeros }}</td>
          </tr>
          {% for discount in order.discounts %}
            <tr>
              <td>Discounts</td>
              <td class="text-right">{{ discount.savings | money_without_trailing_zeros }}</td>
            </tr>
          {% endfor %}
          {% for shipping_method in order.shipping_methods %}
            <tr>
              <td>Shipping ({{ shipping_method.title }})</td>
              <td class="text-right">{{ shipping_method.price | money_without_trailing_zeros }}</td>
            </tr>
          {% endfor %}
          {% for tax_line in order.tax_lines %}
            <tr>
              <td>Tax ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
              <td class="text-right">{{ tax_line.price | money_without_trailing_zeros }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td>Total</td>
            <td class="text-right">{{ order.total_price | money_without_trailing_zeros }} {{ order.currency }}</td>
          </tr>
        </table>
      </div>
      <div class="w-full mt-8">
        <h2 class="account-title">Shipping Address</h2>
        <div>
          {%- if order.shipping_address -%}
            {{ order.shipping_address | format_address }}
          {%- else -%}
            <p>No Shipping Address</p>
          {%- endif -%}
        </div>
        <h2 class="account-title mt-8">Billing Address</h2>
        <div>
          {{ order.billing_address | format_address }}
        </div>
      </div>
    </div>
  </div>
</div>
