<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {% if settings.favicon != blank %}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {% endif %}

    <title>
      {{ page_title }}
      {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
      {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js' | shopify_asset_url | script_tag }}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}

    {% if template.directory == 'customers' %}
      <script>
        window.theme = {}
        theme.allCountryOptionTags = {{ all_country_option_tags | json }};
      </script>
    {% endif %}

    {{ content_for_header }}
    
    <style>
      @font-face {
        font-family: 'GT Super Display Light';
        src: url('{{ '351196198-gt-super-display-light.woff' | asset_url }}') format('woff'),
             url('{{ '351196201-gt-super-display-light.woff2' | asset_url }}') format('woff2'),
             url('{{ '351196195-gt-super-display-light.otf' | asset_url }}') format('opentype'),
             url('{{ '351196196-gt-super-display-light.ttf' | asset_url }}') format('truetype');                          
        font-display: swap;
        font-style: normal;
      }
      @font-face {
        font-family: 'GT Super Display Light Italic';
        src: url('{{ '351196190-gt-super-display-light-italic.woff' | asset_url }}') format('woff'),
             url('{{ '351196193-gt-super-display-light-italic.woff2' | asset_url }}') format('woff2'),
             url('{{ '351196185-gt-super-display-light-italic.otf' | asset_url }}') format('opentype'),
             url('{{ '351196186-gt-super-display-light-italic.ttf' | asset_url }}') format('truetype');                          
        font-display: swap;
        font-style: normal;
      }      
      @font-face {
        font-family: 'GT Super Super Text Book';
        src: url('{{ '351196209-gt-super-text-book.woff' | asset_url }}') format('woff'),
             url('{{ '351196210-gt-super-text-book.woff2' | asset_url }}') format('woff2'),
             url('{{ '351196203-gt-super-text-book.otf' | asset_url }}') format('opentype'),
             url('{{ '351196208-gt-super-text-book.ttf' | asset_url }}') format('truetype');                          
        font-display: swap;
        font-style: normal;
      }        
      @font-face {
        font-family: 'Matter Light';
        src: url('{{ '351196295-matter-light.woff' | asset_url }}') format('woff'),
             url('{{ '351196298-matter-light.woff2' | asset_url }}') format('woff2');                      
        font-display: swap;
        font-style: normal;
      }      
      @font-face {
        font-family: 'Matter Regular';
        src: url('{{ '351196299-matter-regular.woff' | asset_url }}') format('woff'),
             url('{{ '351196301-matter-regular.woff2' | asset_url }}') format('woff2');                      
        font-display: swap;
        font-style: normal;
      }     
      @font-face {
        font-family: 'Matter Regular SQ';
        src: url('{{ '351196305-mattersq-regular.woff' | asset_url }}') format('woff'),
             url('{{ '351196308-mattersq-regular.woff2' | asset_url }}') format('woff2');                      
        font-display: swap;
        font-style: normal;
      }        
    </style>

    {{ 'bundle.theme.css' | asset_url | stylesheet_tag }}
    {{ 'custom.css' | asset_url | stylesheet_tag }}

    {% for link in linklists.main-menu.links %}
      <link rel="prerender" href="{{ link.url }}">
    {% endfor%}

  </head>

  <body class="{{ template | split: '.' | handleize }}">

    <div id="cursor"></div>

    {% include 'header-mobile-menu' %}

    <main>

      {{ content_for_layout }}
      
    </main>

    {% section 'footer' %}

    {% render 'cart-drawer' %}

    {% render 'structured-data' %}

    <script>
      window.shopUrl = '{{ shop.url }}';
    </script>

    <script src="{{ 'bundle.theme.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>

  </body>
</html>
