<section class="about__quote bg-cream pb-28 md:pb-6" data-viewport>
    <div class="container">
        <div class="grid grid-cols-3 gap-24 items-center md:grid-cols-1 md:gap-8">
            {% if section.settings.image != blank %}
                <div class="">
                    <img 
                        src="{{ section.settings.image | img_url: '700x900' }}" 
                        class="fade-in md:pr-12"
                        loading="lazy" 
                        width="{{ section.settings.image.width }}" 
                        height="{{ section.settings.image.height }}" 
                        alt="{{ section.settings.image.alt }}" 
                    />
                </div>
            {% endif %}            
            <div class="col-span-2">
                {% if section.settings.title != blank %}
                    <p class="about__quote-headline text-38 font-heading text-brown leading-[1.265] text-brown relative md:pl-6 md:text-30 md:leading-[1.325] fade-in delay-300">{{ section.settings.title }}</p>
                {% endif %}
            </div>
        </div>
        {% if section.settings.image_2 != blank %}
            <div class="grid grid-cols-3 gap-24 items-center mt-6 md:block">
                <div class="col-start-2 col-span-2 flex justify-center md:justify-end">
                    <img 
                        src="{{ section.settings.image_2 | img_url: '400x500' }}" 
                        class="max-w-[220px] md:max-w-[120px] fade-in delay-600" 
                        loading="lazy" 
                        width="{{ section.settings.image_2.width }}" 
                        height="{{ section.settings.image_2.height }}" 
                        alt="{{ section.settings.image_2.alt }}" 
                    />
                </div>
            </div>        
        {% endif %}
    </div>
</section>

{% schema %}
{
    "name": "Quote",
    "settings": [     
        {
            "type": "textarea",
            "id": "title",
            "label": "Quote",
            "default": "The only way to move forward on planet Earth is to do so sustainably; we truly believe this, and so lays the foundation for our entire concept."
         },   
         {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Recommended Image Dimensions: 700x900"
        },             
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2",
            "info": "Recommended Image Dimensions: 400x500"
        }             
    ] 
}
{% endschema %}