<section class="about__main bg-cream pt-10 md:pt-7">
    <div class="container">
        <div class="grid grid-cols-2 gap-10 md:grid-cols-1 sm:gap-0">
            <div class="flex flex-col">        
                <div class="flex-grow-0">
                    {% if section.settings.title != blank %}
                        <h2 class="text-18 font-matter text-brown mb-12 md:mb-6 fade-in" data-viewport>{{ section.settings.title }}</h2>
                    {% endif %}
                    {% if section.settings.bodycopy != blank %}
                        <div class="text-24 font-heading space-y-8 md:text-20 md:leading-normal fade-in delay-300" data-viewport="-60">{{ section.settings.bodycopy }}</div>
                    {% endif %}
                </div>
                <div class="flex-grow flex items-center justify-center py-8">
                    {% if section.settings.image_2 != blank %}
                        <img src="{{ section.settings.image_2 | img_url: '400x450' }}" class="max-w-[197px] md:max-w-[40vw] md:mr-auto fade-in" loading="lazy" width="400" height="450" alt="{{ section.settings.image_2.alt }}" data-viewport />                    
                    {% endif %}    
                </div>
            </div>
            <div class="md:-mr-5">
                {% if section.settings.image != blank %}
                    <img src="{{ section.settings.image | img_url: '1200x1500' }}" class="fade-in delay-600 mb-11 lg:mb-6" loading="lazy" width="1200" height="1500" alt="{{ section.settings.image.alt }}" data-viewport />                    
                {% endif %}         
                {% if section.settings.bodycopy_2 != blank %}
                    <div class="text-24 font-heading space-y-8 md:text-20 md:leading-normal md:pr-5 md:mb-6 fade-in delay-300" data-viewport="-125">{{ section.settings.bodycopy_2 }}</div>
                {% endif %}       
            </div>            
        </div>
        {% comment %} <div class="grid grid-cols-3 gap-40 items-center pt-10 pl-16 lg:pl-0 md:grid-cols-1 md:pl-12 md:gap-10" data-viewport>
            <div class="col-span-2 md:order-2 fade-in">
                {% if section.settings.headline_2 != blank %}
                    <h3 class="font-heading text-38 leading-[1.265] text-brown md:text-30 md:leading-[1.325] fade-in">{{ section.settings.headline_2 }}</h3>
                {% endif %}
            </div>
            <div class="md:-mr-[46px] md:max-w-[calc(100vw_-_88px)] md:mb-10">
                <img src="{{ section.settings.image_3 | img_url: '600x700' }}" class="md:w-full fade-in delay-300" loading="lazy" width="600" height="700" alt="{{ section.settings.image_3.alt }}" />                    
            </div>
        </div>
        <div class="grid grid-cols-3 gap-40 items-center pt-4 pl-16 lg:pt-6 md:grid-cols-1 md:gap-0">
            <div class="col-span-2 flex justify-center md:justify-end">
                {% if section.settings.image_4 != blank %}
                    <img src="{{ section.settings.image_4 | img_url: '260x300' }}" class="max-w-[135px] mx-auto md:mr-0 fade-in delay-600" loading="lazy" width="260" height="300" alt="{{ section.settings.image_4.alt }}" data-viewport="-500" />                    
                {% endif %}
            </div>
            <div></div>
        </div>         {% endcomment %}
    </div>
</section>

{% schema %}
{
    "name": "Objects",
    "settings": [        
         {
            "type": "image_picker",
            "id": "image",
            "label": "Large Image",
            "info": "Recommended Image Dimensions: 1200x1500"
        },             
         {
            "type": "image_picker",
            "id": "image_2",
            "label": "Small Image",
            "info": "Recommended Image Dimensions: 300x400"
        },
        {
            "type": "textarea",
            "id": "title",
            "label": "Headline",
            "default": "About Us"
         },
         {
            "type": "richtext",
            "id": "bodycopy",
            "label": "Bodycopy",
            "default": "<p>To us, Bask is an entity more than a lovechild. It was born of both a love of all things sleek and beautiful, as well as nature's earthly gifts, but we no longer see those things as mutually exclusive. To us, truly gorgeous living is not serendipitous. It's not bestowed upon the rich and the beautiful, the ones with good taste, or those with access to excess. It comes from respecting our planet, and making conscientious choices with every single thing that we do, consume, make, or share.</p>"
        },     
         {
            "type": "richtext",
            "id": "bodycopy_2",
            "label": "Bodycopy",
            "default": "<p>We center around objects. Both form and function are in the foreground. They can take up space, they can lay to waste, but that's where we made the shift. We are a marketplace for gratifyingly lovely, yet serviceable items crafted with intention.</p>"
        }            
    ] 
}
{% endschema %}