<header class="header header__wordmark fixed z-50 top-0 left-0 w-full">


    {% render 'announcement-bar' %}

    <nav>
        <div class="header__main py-6 text-cream md:relative">
            <div class="container-full grid grid-cols-[1fr_213px_1fr] gap-6 items-center md:flex md:justify-between">
                <div>
                    <ul class="flex items-center space-x-8">
                        <li class="relative">
                            <svg xmlns="http://www.w3.org/2000/svg" id="hamburger" class="w-8 cursor-pointer active" viewBox="0 0 31 22"><g fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M.5.5h30M.5 11h30M.5 21h30"/></g></svg>
                            <span id="hamburger-close" class="font-matter text-13 absolute-center left-0 text-black">
                                <span class="md:hidden md_min:inline-block translate-y-[1px]">Close</span>
                                <?xml version="1.0" encoding="UTF-8"?>
                                    <svg width="26px" height="26px" class="md_min:hidden" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                            <g transform="translate(-20.000000, -16.000000)" stroke="#000000" stroke-width="1.5">
                                                <g transform="translate(22.000000, 18.000000)">
                                                    <line x1="0" y1="18" x2="18" y2="0" id="Line-Copy-2"></line>
                                                    <line x1="0" y1="18" x2="18" y2="0" id="Line-Copy-2" transform="translate(9.000000, 9.000000) scale(-1, 1) translate(-9.000000, -9.000000) "></line>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>                                
                            </span>
                        </li>
                        <li class="relative md:hidden">
                            <a href="/collections" id="header-shop-link" class="header__link font-matter text-13 hover:text-orange">Shop</a>
                        </li>
                    </ul>
                </div>
                <div class="text-center md:text-right relative">
                    <a href="/">
                        <svg class="header__logo-wordmark w-[213px] md:hidden" width="213" height="80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g fill="none" fill-rule="evenodd"><path d="M25.16 78.382c11.617 0 20.716-9.943 20.716-22.635 0-15.012-7.52-22.624-22.35-22.624h-8.415v32.778c0 9.104 1.015 12.256 6.845 12.48h3.205ZM15.11 14.217v17.815h8.962c7.171 0 12.17-7.999 12.17-15.178 0-7.281-4.103-15.118-13.112-15.118h-1.036c-5.954.179-6.983 3.305-6.983 12.48Zm27.537 59.617c-4.918 3.568-11.454 5.699-17.486 5.699H0v-1.151h.96c5.925-.248 8.429-3.598 8.429-12.689V14.285c0-9.146-2.534-12.347-8.535-12.549H0V.584H23.13c1.94 0 18.952.457 18.952 16.27 0 5.803-2.557 10.392-7.395 13.27-1.739 1.034-3.59 1.737-5.295 2.201 15.004 1.554 22.607 9.41 22.607 23.422 0 9.34-5.086 14.992-9.352 18.087Zm170.286 4.548c-7.483-.028-12.228-4.816-17.893-14.677l-19.152-33.281 7.392-15.417c4.605-9.047 10.447-13.271 18.318-13.271h.16V.584H189.15L189 .544l-.02.04h-10.84v1.152h.289c3.64 0 5.955.76 6.88 2.26.993 1.608.2 3.786-.472 5.228l-.238.497-.13.263-.174.35c-.065.137-.131.283-.197.432L162.154 56.53V14.217c0-8.607 2.244-11.948 7.51-12.481h1.878V.584h-24.499v1.152h1.013l-.788.011c6.454 0 9.164 3.1 9.164 12.56v51.594c0 8.606-2.244 11.947-7.509 12.48h-1.88v1.152h24.5v-1.151h-1.881c-5.265-.534-7.508-3.875-7.508-12.48v-6.835l10.489-21.875 19.95 34.572c-.006-.004-.01-.008-.015-.01 3.435 5.94-.132 6.578-2.45 6.628h-.849l-.309-.003.032.003h-.053v1.15H213v-1.15h-.067ZM88.331 63.132 75.494 26.338l-13.826 36.96.252-.164H88.33Zm20.454 15.25.014 1.15H85.402l-.015-1.15h.227c1.633-.006 7.974-.18 6.095-5.567l-3.04-8.714H61.368l-2.06 5.503-.018.076-.088.238c-.46 1.203-1.539 4.02-.158 6.032 1.109 1.614 3.577 2.432 7.336 2.432h.224v1.15h-11.01l-.016.045-.168-.044H42.53v-1.151h.225c7.93 0 13.354-4.198 17.005-13.186l15.157-40.515-5.879-16.85c-2.263-5.713-7.02-6-11.4-6l.024-1.379h14.773L96.399 69.19c2.463 7.062 5.939 9.19 12.394 9.19l-.13.002h.122Zm38.746-18.34c0 12.567-8.838 19.958-22.94 19.958-15.175 0-22.927-12.09-22.927-24.775v-3.404l8.649-8.155.833.915s-3.655 3.836-3.655 13.683c0 12.018 6.296 20.553 17.068 20.553 10.573 0 16.902-7.103 16.902-18.26 0-12.521-9.509-17.352-17.24-23.338-9.082-7.03-16.053-12.01-16.053-21.938 0-8.124 5.54-15.281 16.99-15.281 8.143 0 13.263 4.21 16.429 10.125l-2.726 10.41-1.158-.317s.274-19.048-12.546-19.048c-6.92 0-12.375 6.271-12.375 12.678 0 8.59 10.534 14.984 17.003 20.057 8.803 6.903 17.746 13.359 17.746 26.136Z" fill="#FBF1DC" /></g></svg>                    
                        <svg class="header__logo w-[55px] md_min:absolute md_min:left-0 md_min:right-0 md_min:mx-auto md_min:top-3 md:w-[32px]" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 55 55"><path d="M.65 25.277 0 24.643c1.625-1.588 5.866-3.543 10.83-4.201 3.77-.505 7.174-.137 9.962 1.03L.924 2.041l.651-.636 19.868 19.433c-1.195-2.729-1.568-6.057-1.056-9.744C21.062 6.237 23.06 2.089 24.684.5l.648.637c-1.478 1.444-3.394 5.468-4.035 10.078-.433 3.116-.564 8.929 3.418 12.824l-.65.636c-3.983-3.897-9.922-3.764-13.111-3.345-4.712.628-8.826 2.503-10.304 3.947Zm53.7 0c-1.478-1.444-5.592-3.319-10.304-3.947-3.19-.42-9.13-.552-13.111 3.345l-.65-.636c3.982-3.895 3.85-9.707 3.416-12.824-.64-4.61-2.556-8.634-4.034-10.078l.65-.637c2.74 2.679 6.483 12.894 3.25 20.329L53.423 1.405l.65.636-19.866 19.433c2.787-1.169 6.188-1.537 9.962-1.032 4.964.658 9.205 2.613 10.83 4.2l-.65.635ZM30.317 54.5l-.65-.637c3.089-3.021 7.538-16.134.618-22.902l.65-.636c3.983 3.898 9.926 3.765 13.111 3.344 4.712-.627 8.826-2.502 10.304-3.946l.65.634c-1.625 1.588-5.866 3.542-10.83 4.201-3.774.504-7.175.135-9.962-1.032L54.075 52.96l-.651.636-19.858-19.424c3.234 7.435-.509 17.65-3.249 20.329Zm-5.633 0c-1.624-1.588-3.622-5.737-4.297-10.593-.512-3.687-.139-7.017 1.056-9.745L1.575 53.595l-.65-.636 19.867-19.434c-2.788 1.168-6.191 1.537-9.962 1.033-4.964-.66-9.205-2.613-10.83-4.2l.65-.635c1.478 1.444 5.592 3.319 10.304 3.946 3.19.42 9.13.552 13.111-3.344l.65.636c-3.982 3.895-3.851 9.708-3.418 12.825.641 4.61 2.557 8.633 4.035 10.077l-.648.637Z" fill="#000000"/></svg>
                    </a>
                </div>
                <div class="md:hidden">
                    <ul class="flex items-center justify-end space-x-8">
                        <li><a href="/account" class="header__link font-matter text-13 hover:text-orange">Account</a></li>
                        <li><a href="#" class="header-search-link header__link font-matter text-13 hover:text-orange">Search</a></li>
                        <li><a href="#" class="bag-count header__link font-matter text-13 hover:text-orange" onclick="window.showCart(); return false;">{{ cart.item_count }}</a></li>
                    </ul>            
                </div>
            </div>
        </div>
        {% if linklists.main-menu.links != blank %} 
            {% assign has_shop_links = false %}
            {% for link in linklists.main-menu.links %}
                {% if link.title == 'Shop' and link.links != blank %}
                    {% assign has_shop_links = true %}
                {% endif %}
            {% endfor%}
            {% if has_shop_links %}
                <div class="header__categories pb-12 w-full absolute left-0">
                    <div class="container-full flex">
                        <ul class="grid grid-cols-2 grid-rows-3 grid-flow-col-dense gap-x-16 pl-[62px]">
                            {% for link in linklists.main-menu.links %}
                                {% if link.title == 'Shop' %}
                                    {% for child_link in link.links %}
                                        <li><a href="{{ child_link.url }}" class="header__link font-matter text-13">{{ child_link.title }}</a></li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul> 
                    </div>
                </div>      
            {% endif %}
            <div class="header__menu pb-10 w-full absolute left-0 md:hidden">
                <div class="container-full flex">
                    <ul class="header__menu-top flex flex-wrap gap-x-16 py-6 border-t border-t-black w-full md:mt-6 md:flex-col md:border-0">
                        {% for link in linklists.main-menu.links %}
                            <li class="relative md:mb-2">
                                <a href="{{ link.url }}" class="header__link font-matter text-13{% if link.links != blank %} has-submenu md:hidden{% endif %} md:text-30 md:font-heading md:normal-case md:tracking-[0em]">{{ link.title }}</a>
                                {% if link.links != blank %}
                                    <ul class="header__submenu md:hidden absolute left-0 grid grid-cols-5 gap-8 mt-6 pb-6">
                                        {% for child_link in link.links %}
                                            <li>
                                                <a href="{{ child_link.url }}" class="block hover:opacity-60">
                                                    {% assign menu_image = child_link.object.featured_image %}
                                                    {% case forloop.index %}
                                                        {% when 1 %}
                                                        {% if settings.header_shop_title_1 == child_link.title %}
                                                            {% if settings.header_shop_image_1 %}
                                                                {% assign menu_image = settings.header_shop_image_1 %}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% when 2 %}
                                                        {% if settings.header_shop_title_2 == child_link.title %}
                                                            {% if settings.header_shop_image_2 %}
                                                                {% assign menu_image = settings.header_shop_image_2 %}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% when 3 %}
                                                        {% if settings.header_shop_title_3 == child_link.title %}
                                                            {% if settings.header_shop_image_3 %}
                                                                {% assign menu_image = settings.header_shop_image_3 %}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% when 1 %}
                                                        {% if settings.header_shop_title_4 == child_link.title %}
                                                            {% if settings.header_shop_image_4 %}
                                                                {% assign menu_image = settings.header_shop_image_4 %}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% when 1 %}
                                                        {% if settings.header_shop_title_5 == child_link.title %}
                                                            {% if settings.header_shop_image_5 %}
                                                                {% assign menu_image = settings.header_shop_image_5 %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endcase %}
                                                    {% if menu_image %}
                                                        {{ menu_image | image_url: width: 600, crop: 'center' | image_tag: alt: menu_image.alt, loading: 'lazy', class: 'w-full object-cover mb-2 aspect-[3/4]' }}
                                                    {% endif %}
                                                    <div><span class="font-italic">{{ child_link.title }} </span>—</div>
                                                </a> 
                                            </li>    
                                        {% endfor %}
                                    </ul>
                                    <span class="header__link toggle-trigger font-matter text-13{% if link.links != blank %} md_min:hidden has-submenu{% endif %} md:text-30 md:font-heading md:normal-case md:tracking-[0em]" data-container="menu-toggle-{{ forloop.index }}">{{ link.title }}</span>
                                    <ul id="menu-toggle-{{ forloop.index }}" class="header__submenu toggle-container md_min:hidden max-h-0">
                                        {% for child_link in link.links %}
                                            <li><a href="{{ child_link.url }}"class="font-matter text-13">{{ child_link.title }}</a></li>    
                                        {% endfor %}
                                    </ul>                                    
                                {% endif %}
                            </li>
                        {% endfor %}
                        <li class="md_min:hidden mt-2"><a href="/account" class="header__link font-matter text-13">Account</a></li>
                        <li class="md_min:hidden mt-3"><a href="#" class="header-search-link header__link font-matter text-13">Search</a></li>                        
                        <li class="md_min:hidden mt-5"><a href="#" class="bag-count header__link font-matter text-13 hover:text-orange" onclick="window.showCart(); return false;">{{ cart.item_count }}</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="header__search pb-12 w-full absolute left-0">
            <div class="container-full flex">
                <form action="{{ routes.search_url }}" method="get" class="form w-full" role="search" autocomplete="off">
                    <input type="search" name="q" value="" class="form__input font-heading normal-case text-24 pt-6 mt-4 border-t border-black placeholder:text-black w-full md:border-0 md:pt-0" maxlength="256" autocomplete="off" placeholder="Search..." required="">
                    {% comment %} <input type="submit" value="Submit" class="search-bar-submit"> {% endcomment %}
                </form>
            </div>
        </div>           
    </nav>

</header>

<div class="header__overlay fixed z-40 top-0 left-0 h-full w-full" onclick="window.showCart(); return false;"></div>

{% schema %}
{ 
  "name": "Header (Wordmark Cream)",
  "class": "header-wrap"
}
{% endschema %}