<header class="header z-50 top-0 left-0 w-full transition-smooth">


    {% render 'announcement-bar' %}

    <nav>
        <div class="header__main py-6 text-cream md:relative">
            <div class="container-full grid grid-cols-[1fr_55px_1fr] gap-6 items-center md:flex md:justify-between">
                <div>
                    <ul class="flex items-center space-x-8">
                        <li class="relative">
                            <svg xmlns="http://www.w3.org/2000/svg" id="hamburger" class="w-8 cursor-pointer active" viewBox="0 0 31 22"><g fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M.5.5h30M.5 11h30M.5 21h30"/></g></svg>
                            <span id="hamburger-close" class="font-matter text-13 absolute-center left-0 text-black">
                                <span class="md:hidden md_min:inline-block translate-y-[1px]">Close</span>
                                <?xml version="1.0" encoding="UTF-8"?>
                                    <svg width="26px" height="26px" class="md_min:hidden" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                            <g transform="translate(-20.000000, -16.000000)" stroke="#000000" stroke-width="1.5">
                                                <g transform="translate(22.000000, 18.000000)">
                                                    <line x1="0" y1="18" x2="18" y2="0" id="Line-Copy-2"></line>
                                                    <line x1="0" y1="18" x2="18" y2="0" id="Line-Copy-2" transform="translate(9.000000, 9.000000) scale(-1, 1) translate(-9.000000, -9.000000) "></line>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>                                
                            </span>
                        </li>
                        <li class="relative md:hidden">
                            <a href="/collections" id="header-shop-link" class="header__link font-matter text-13 hover:text-orange">Shop</a>
                        </li>
                    </ul>
                </div>
                <div class="text-center md:text-right">
                    <a href="/"><svg class="header__logo md:w-[32px]" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 55 55"><path d="M.65 25.277 0 24.643c1.625-1.588 5.866-3.543 10.83-4.201 3.77-.505 7.174-.137 9.962 1.03L.924 2.041l.651-.636 19.868 19.433c-1.195-2.729-1.568-6.057-1.056-9.744C21.062 6.237 23.06 2.089 24.684.5l.648.637c-1.478 1.444-3.394 5.468-4.035 10.078-.433 3.116-.564 8.929 3.418 12.824l-.65.636c-3.983-3.897-9.922-3.764-13.111-3.345-4.712.628-8.826 2.503-10.304 3.947Zm53.7 0c-1.478-1.444-5.592-3.319-10.304-3.947-3.19-.42-9.13-.552-13.111 3.345l-.65-.636c3.982-3.895 3.85-9.707 3.416-12.824-.64-4.61-2.556-8.634-4.034-10.078l.65-.637c2.74 2.679 6.483 12.894 3.25 20.329L53.423 1.405l.65.636-19.866 19.433c2.787-1.169 6.188-1.537 9.962-1.032 4.964.658 9.205 2.613 10.83 4.2l-.65.635ZM30.317 54.5l-.65-.637c3.089-3.021 7.538-16.134.618-22.902l.65-.636c3.983 3.898 9.926 3.765 13.111 3.344 4.712-.627 8.826-2.502 10.304-3.946l.65.634c-1.625 1.588-5.866 3.542-10.83 4.201-3.774.504-7.175.135-9.962-1.032L54.075 52.96l-.651.636-19.858-19.424c3.234 7.435-.509 17.65-3.249 20.329Zm-5.633 0c-1.624-1.588-3.622-5.737-4.297-10.593-.512-3.687-.139-7.017 1.056-9.745L1.575 53.595l-.65-.636 19.867-19.434c-2.788 1.168-6.191 1.537-9.962 1.033-4.964-.66-9.205-2.613-10.83-4.2l.65-.635c1.478 1.444 5.592 3.319 10.304 3.946 3.19.42 9.13.552 13.111-3.344l.65.636c-3.982 3.895-3.851 9.708-3.418 12.825.641 4.61 2.557 8.633 4.035 10.077l-.648.637Z" fill="#FBF1DC"/></svg></a>
                </div>
                <div class="md:hidden">
                    <ul class="flex items-center justify-end space-x-8">
                        <li><a href="/account" class="header__link font-matter text-13 hover:text-orange">Account</a></li>
                        <li><a href="#" class="header-search-link header__link font-matter text-13 hover:text-orange">Search</a></li>
                        <li><a href="#" class="bag-count header__link font-matter text-13 hover:text-orange" onclick="window.showCart(); return false;">{{ cart.item_count }}</a></li>
                    </ul>            
                </div>
            </div>
        </div>
        {% if linklists.main-menu.links != blank %} 
            {% assign has_shop_links = false %}
            {% for link in linklists.main-menu.links %}
                {% if link.title == 'Shop' and link.links != blank %}
                    {% assign has_shop_links = true %}
                {% endif %}
            {% endfor%}
            {% if has_shop_links %}
                <div class="header__categories pb-12 w-full absolute left-0">
                    <div class="container-full flex">
                        <ul class="grid grid-cols-2 grid-rows-3 grid-flow-col-dense gap-x-16 pl-[62px]">
                            {% for link in linklists.main-menu.links %}
                                {% if link.title == 'Shop' %}
                                    {% for child_link in link.links %}
                                        <li><a href="{{ child_link.url }}" class="header__link font-matter text-13">{{ child_link.title }}</a></li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul> 
                    </div>
                </div>      
            {% endif %}
            <div class="header__menu -mt-8 w-full absolute left-0 md:hidden">
                <div class="container-full flex">
                    <ul class="header__menu-top flex flex-wrap gap-x-16 py-6 mt-8 border-t border-t-black w-full md:mt-6 md:flex-col md:border-0">
                        {% for link in linklists.main-menu.links %}
                            <li class="relative md:mb-2">
                                <a href="{{ link.url }}" class="header__link font-matter text-13{% if link.links != blank %} has-submenu md:hidden{% endif %} md:text-30 md:font-heading md:normal-case md:tracking-[0em]">{{ link.title }}</a>
                                {% if link.links != blank %}
                                    <ul class="header__submenu md:hidden absolute left-0 grid grid-cols-5 gap-8 mt-6 pb-6">
                                        {% for child_link in link.links %}
                                            <li>
                                                <a href="{{ child_link.url }}" class="block hover:opacity-60">
                                                    {% assign menu_image = child_link.object.featured_image %}
                                                    {% case forloop.index %}
                                                        {% when 1 %}
                                                        {% if settings.header_shop_title_1 == child_link.title %}
                                                            {% if settings.header_shop_image_1 %}
                                                                {% assign menu_image = settings.header_shop_image_1 %}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% when 2 %}
                                                        {% if settings.header_shop_title_2 == child_link.title %}
                                                            {% if settings.header_shop_image_2 %}
                                                                {% assign menu_image = settings.header_shop_image_2 %}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% when 3 %}
                                                        {% if settings.header_shop_title_3 == child_link.title %}
                                                            {% if settings.header_shop_image_3 %}
                                                                {% assign menu_image = settings.header_shop_image_3 %}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% when 1 %}
                                                        {% if settings.header_shop_title_4 == child_link.title %}
                                                            {% if settings.header_shop_image_4 %}
                                                                {% assign menu_image = settings.header_shop_image_4 %}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% when 1 %}
                                                        {% if settings.header_shop_title_5 == child_link.title %}
                                                            {% if settings.header_shop_image_5 %}
                                                                {% assign menu_image = settings.header_shop_image_5 %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endcase %}
                                                    {% if menu_image %}
                                                        {{ menu_image | image_url: width: 600, crop: 'center' | image_tag: alt: menu_image.alt, loading: 'lazy', class: 'w-full object-cover mb-2 aspect-[3/4]' }}
                                                    {% endif %}
                                                    <div><span class="font-italic">{{ child_link.title }} </span>—</div>
                                                </a> 
                                            </li>    
                                        {% endfor %}
                                    </ul>
                                    <span class="header__link toggle-trigger font-matter text-13{% if link.links != blank %} md_min:hidden has-submenu{% endif %} md:text-30 md:font-heading md:normal-case md:tracking-[0em]" data-container="menu-toggle-{{ forloop.index }}">{{ link.title }}</span>
                                    <ul id="menu-toggle-{{ forloop.index }}" class="header__submenu toggle-container md_min:hidden max-h-0">
                                        {% for child_link in link.links %}
                                            <li><a href="{{ child_link.url }}"class="font-matter text-13">{{ child_link.title }}</a></li>    
                                        {% endfor %}
                                    </ul>                                    
                                {% endif %}
                            </li>
                        {% endfor %}
                        <li class="md_min:hidden mt-2"><a href="/account" class="header__link font-matter text-13">Account</a></li>
                        <li class="md_min:hidden mt-3"><a href="#" class="header-search-link header__link font-matter text-13">Search</a></li>                        
                        <li class="md_min:hidden mt-5"><a href="#" class="bag-count header__link font-matter text-13 hover:text-orange" onclick="window.showCart(); return false;">{{ cart.item_count }}</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="header__search -mt-8 pb-6 w-full absolute left-0 md:mt-0">
            <div class="container-full flex">
                <form action="{{ routes.search_url }}" method="get" class="form w-full" role="search" autocomplete="off">
                    <input type="search" name="q" value="" class="form__input font-heading normal-case text-24 pt-6 mt-4 border-t placeholder:text-black border-black w-full md:border-0 md:pt-0" maxlength="256" autocomplete="off" placeholder="Search..." required="">
                    {% comment %} <input type="submit" value="Submit" class="search-bar-submit"> {% endcomment %}
                </form>
            </div>
        </div>           
    </nav>

</header>

<div class="header__overlay fixed z-40 top-0 left-0 h-full w-full"></div>

{% schema %}
{ 
    "name": "Header",
    "class": "header-wrap"
}
{% endschema %}