<header class="site-header" role="banner">
  {%if section.settings.display_header_top_text %}
  <div class="header-top ">
    <div class="header-text "> 
      {% render 'multilang' with section.settings.header_top_text  %}
    </div>
    <div class="header-pull-left">
      {% if settings.enable_multilang_shopify %}
      {% render 'new-language-picker' %}
      {% endif %}
      <div class="currency">{% render 'new-currency-picker' %}</div>
    </div>
  </div>
  {% endif %}
  <div class="header-bottom">
    <div class="header-mobile">
      <div class="menu-block visible-phone"><!-- start Navigation Mobile  -->
        <div id="showLeftPush">
          <span></span>
        </div>
      </div>
      
      <div class="customer-area dropdown">
          <a class="icon_customer" data-toggle="dropdown" href="#"></a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <p>
  			{% if customer %}
            <label>Hello, {{customer.last_name}}</label>
    		<a id="customer_logout_link" href="{{ routes.account_logout_url }}" {% if settings.enable_multilang %}data-translate="layout.customer.log_out"{% endif %}>{{ 'layout.customer.log_out' | t }}</a>
            {% else %}
            <a id="customer_login_link" href="{{ routes.account_login_url }}" {% if settings.enable_multilang %}data-translate="customer.login.sign_in"{% endif %}>{{ 'customer.login.sign_in' | t }}</a>
            {% if shop.customer_accounts_optional %}
            <span class="or" {% if settings.enable_multilang %}data-translate="cart.label.or"{% endif %}>{{ 'cart.label.or' | t }}</span>
            <a id="customer_register_link" href="{{ routes.account_register_url }}" {% if settings.enable_multilang %}data-translate="layout.customer.create_account"{% endif %}>{{ 'layout.customer.create_account' | t }}</a>
            {% endif %}
             {% endif %}
            </p>
            <p {% if customer %}class="login"{% endif %}>
              <a href="{{ routes.account_url }}" {% if settings.enable_multilang %}data-translate="customer.account.title"{% endif %}>{{ 'customer.account.title' | t }}</a>
            </p>
            <div class="wishlist">
              <a href="{{ pages['wish-list'].url }}" {% if settings.enable_multilang %}data-translate="wishlist.general.my_wishlist"{% endif %}>
              {{ 'wishlist.general.my_wishlist' | t }}
              </a>
            </div>
          </div>
        </div>
      	{% if settings.enable_multilang_shopify or settings.enable_shopify_payments_currencies or settings.enable_multiple_currencies %}
        <div class="ls-config lang-cur">
          <a data-toggle="dropdown" href="#" class="currencies-modal">
            <span class="active-item"></span>
          </a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {% if settings.enable_multilang_shopify %}
            <div class="mobile-lang">
              <span {% if settings.enable_multilang %}data-translate="general.language.lang_mb"{% endif %}>{{ 'general.language.lang_mb' | t }}:</span>
              <div class="lang-mb"></div>
            </div>
            {% endif %}
            <div class="mobile-currency">
              <span  {% if settings.enable_multilang %}data-translate="general.language.currency_mb"{% endif %}>{{ 'general.language.currency_mb' | t }}:</span>
              {% render 'new-currency-picker' %}
            </div>
          </div>
        </div>
      	{% endif %}
      
      {% render 'dropdown-cart' %}
    </div>
    <div class="header-panel container-fluid">
      <div class="top-header-panel">
          <div class="header-panel-bottom">
            
            <div class="header-panel-top">
              <div class="sticky_menu">
                <div class="hamburger">
                <span></span>
                </div>
                <div class="menu-fixed"></div>
            </div>
              <div class="bottom-header-panel">
                <h1 class="header-logo" itemscope itemtype="http://schema.org/Organization">
                  <meta itemprop="url" content="{{ shop.url }}">
                  {% if section.settings.brand_type == 'image' %}
                  <a class="logo-no-fix" href="{{ routes.cart_url | split: 'cart' | first }}">
                    {% if section.settings.logo != bank %} 
                    {% if template contains 'index' %}
                    <img src="{{ section.settings.logo | img_url: 'master' }}" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
                    {% else %}
                    <img src="{{ section.settings.logo_page | img_url: 'master' }}" alt="{{ section.settings.logo_page.alt | default: shop.name }}" itemprop="logo">
                    {% endif %}
                    {% if section.settings.enable_retina %} 
                    <img src="{{ section.settings.logo_2x | img_url: 'master' }}" alt="{{ section.settings.logo_2x.alt | default: shop.name }}">
                    {% endif %}
                  </a>
                  {% if section.settings.logo_fix != blank %}
                  <a class="logo-fix" href="{{ routes.cart_url | split: 'cart' | first }}">
                    <img src="{{ section.settings.logo_fix | img_url: 'master' }}" alt="{{ section.settings.logo_fix.alt | default: shop.name }}">
                  </a>
                  
                  {% endif %}
                  {% else %}
                  <a class="logo-title" href="{{ routes.cart_url | split: 'cart' | first }}">{{shop.name}}</a>
                  {% endif %}
                  {% elsif section.settings.brand_text != "" %}
                  <a class="logo-title" href="{{ routes.cart_url | split: 'cart' | first }}">{{ section.settings.brand_text }}</a>
                  {% else %}
                  <a class="logo-title" href="{{ routes.cart_url | split: 'cart' | first }}">{{shop.name}}</a>
                  {% endif %}
                </h1>
                <div class="nav-search on visible-xs">{% render 'search-bar' %}</div>
              </div>
            </div>
            <div class="hl-right-top">
              <a class="icon_search_hea" href="javascript:void(0)">
              		<i class="fa fa-search"></i>
            	</a>
                <div class="nav-search on">
                  <div class="container">
                    <a class=" icon_search_hea" href="javascript:void(0)">
                    	<svg viewBox="0 0 24 24" id="icon-close" width="28px" height="28px"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg>
                    </a>
                  	{% render 'search-bar' %}
                  </div>
                </div>
              
              {% render 'customer_links' %}
              <div class="top-header ">
                {% render 'dropdown-cart' %}
              </div>                       
            </div>
          </div>
      </div>
    </div>
  </div>
</header>
{% if settings.enable_multilang %}
<script>
  translator.updateLangSwitcher();
  jQuery('.lang-switcher').selectize();          
</script>

<script>
  translator.doTranslate(".site-header");
</script>
{% endif %}
{% schema %}
  {
    "name": "Header and Logo",
	"class":"section-header",
    "settings": [
      {
        "type": "radio",
        "id": "brand_type",
        "label": "Use image or text for logo?",
        "options": [
          {
            "value": "text",
            "label": "Text"
          },
          {
            "value": "image",
            "label": "Image"
          }
        ],
        "default": "text"
      },
      {
        "type": "text",
        "id": "brand_text",
        "label": "Logo text"
      },
      {
       "type": "image_picker",
        "id": "logo",
        "label": "Logo at homepage",
		"info": "320px x 40px recommended"
      },
 		{
       "type": "image_picker",
        "id": "logo_page",
        "label": "Logo at other pages",
		"info": "320px x 40px recommended"
      },
	  {
        "type": "text",
        "id": "min_height_logo_pc",
        "label": "Max Height of Logo"
      },
      {
        "type": "checkbox",
        "id": "enable_retina",
        "label": "Logo Mobile",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "logo_2x",
        "label": "Logo Mobile"
      },
	 {
        "type": "text",
        "id": "min_height_logo",
        "label": "Min Height of Logo"
      },
	   {
        "type": "image_picker",
        "id": "logo_fix",
        "label": "Logo image when enable Fixed Top Menu",
		"info": "Maximum logo dimensions are 125px wide by 45px high."
      },
        {
        "type": "text",
        "id": "min_height_logo_fix",
        "label": "Min Height of Fixed Top Menu"
      },
      {
        "type": "paragraph",
        "content": "Maximum logo dimensions are 500px wide by 200px high.Your uploaded file will be resized to fit within those constraints."
      },
 	  {
        "type": "header",
        "content": "Header Color"
      },
	  {
        "type": "color",
        "id": "bg_header_top_color",
        "label": " Header Top Background Color",
        "default": "#ff7677"
      },
      {
        "type": "color",
        "id": "text_header_top_color",
        "label": "Header Top Text Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "header_link_text_color_1",
        "label": "Header Bottom Text Color at Homepage",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "header_link_text_color",
        "label": "Header Bottom Text Color at other pages",
        "default": "#fff"
      },
	  
      {
        "type": "header",
        "content": "Header Top"
      },
      {
        "type": "checkbox",
        "id": "display_header_top_text",
        "label": "Display Header Top?",
        "default": true
      },
      {
        "type": "richtext",
        "id": "header_top_text",
        "label": "Header Top Text"
      },
      {
        "type": "header",
        "content": "Search"
      },
      {
        "type": "color",
        "id": "bg_search_color",
        "label": "Background Color",
        "default": "#fafafa"
      },
      {
        "type": "color",
        "id": "search_color",
        "label": "Search Color",
        "default": "#fff"
      },
      
      {
        "type": "header",
        "content": "Cart Header"
      },
      {
        "type": "color",
        "id": "bg_cart_color",
        "label": "Background Color",
        "default": "#fafafa"
      },
		{
        "type": "color",
        "id": "border_color",
        "label": "Borer Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "cart_color",
        "label": "Cart Color",
        "default": "#fff"
      },
      {
        "type": "radio",
        "id": "dropdowncart_type",
        "label": "When to show dropdown cart",
        "options": [
          {
            "value": "click",
            "label": "Click on the cart"
          },
          {
            "value": "hover",
            "label": "Hover on the cart"
          }
        ]
      }
    ]
  }
{% endschema %}
<script>

  window.dropdowncart_type = "{{ section.settings.dropdowncart_type }}";

</script>
<style>
  
  .template-index .header-bottom .top-cart a .cartCount{
   border-color:transparent!important;
  }
  .template-index .is-sticky .header-bottom .top-cart a .cartCount{
   border-color: {{ section.settings.border_color }}!important;
  }
  .header-bottom .top-cart a .cartCount{
    background: {{ section.settings.bg_cart_color }}; 
    color: {{ section.settings.cart_color }};
    border-color: {{ section.settings.border_color }};
  }
  .currency, .header-top .selectize-control.single .selectize-input,
  .lang-block .btn-group .dropdown-toggle {color: {{ section.settings.text_header_top_color }}; }
  .header-top { background: {{ section.settings.bg_header_top_color }}; color: {{ section.settings.text_header_top_color }}; }
  .header-top a.link { color: {{ section.settings.text_header_top_color }}; }
  .customer-links .fa,
  .header-bottom .top-cart .fa-shopping-bag,
  .header-bottom .search-bar .input-group-btn button.btn,
  .customer-area .dropdown-menu a,

  .wrapper-top-cart .btn-check-out .btn,
  .customer-links,
  .header-bottom .selectize-control div.item{ color: {{ section.settings.header_link_text_color }}; }
  .customer-area .dropdown-menu a:hover,
  .header-bottom .top-cart a:hover span.first{ border-bottom: 1px solid {{ section.settings.header_link_text_color }}; }

  .top-header-panel a, .header-top.selectize-control.single .selectize-input input, .customer-links a, .ct_register a, a.icon_search, a.icon_search_hea{
    color: {{ section.settings.header_link_text_color }};
    font-weight: 500;
  }

  .hl-right-top .nav-search.on, .nav_search .nav-search{
    color:{{section.settings.search_color}};
    background:{{section.settings.bg_search_color}}
  }
  .icon_search_hea svg{
  fill:{{section.settings.search_color}};
  }
  .hl-right-top .nav-search.on input.input-group-field, .hl-right-top .nav-search.on .btn-search .fa-search, .nav_search .nav-search .btn-search .fa-search{
    color:{{section.settings.search_color}};
  }
  .hl-right-top .search-bar, .nav_search .search-bar{
    border-bottom: 2px solid;
  }
  @media (min-width:1025px){
    .nav-search ::-webkit-input-placeholder{ 
      color:{{section.settings.search_color}};
    }
    .nav-search ::-moz-placeholder{ 
      color:{{section.settings.search_color}};
    }
    .nav-search :-ms-input-placeholder {
      color:{{section.settings.search_color}};
    }
    .nav-search :-moz-placeholder{ 
      color:{{section.settings.search_color}};
    }

    .nav_search .nav-search ::-webkit-input-placeholder{ 
      color:{{section.settings.search_color}}!important;
    }
    .show_search  .nav-search ::-moz-placeholder{ 
      color:{{section.settings.search_color}}!important;
    }
    .nav_search .nav-search :-ms-input-placeholder {
      color:{{section.settings.search_color}}!important;
    }
    .nav_search .nav-search :-moz-placeholder{ 
      color:{{section.settings.search_color}}!important;
    }
  }
  .show_search .icon_search_hea{
    color:{{section.settings.search_color}};
    border:1px solid {{section.settings.search_color}}
  }
  .logo-fix img{   max-height: {{section.settings.min_height_logo_fix}}px!important;}

  {% if section.settings.enable_retina %}
  @media (max-width: 1024px) {
    .header-logo img:not(:first-child) { display: inline-block; max-height: {{section.settings.min_height_logo}}px; }
    .header-logo img:first-child { display: none; }
  }
  {% endif %}
  .header-logo img:first-child {   max-height: {{section.settings.min_height_logo_pc}}px;}


  @media (min-width: 1025px) {
    .template-index  .hl-right-top .nav-search.on input.input-group-field,
    .template-index  .hl-right-top .nav-search.on, .template-index  .nav_search .nav-search{
      color:{{section.settings.header_link_text_color_1}};
    }
    .template-index .hl-right-top .nav-search.on input.input-group-field::placeholder,
    .template-index .hl-right-top .nav-search.on .btn-search .fa-search,
    .template-index  .header-bottom .search-bar .input-group-btn button.btn,
    .template-index .hl-right-top .nav-search .icon-search,
    .template-index .top-cart a,
    .template-index .bottom-header-panel .header-logo .logo-title,
    .template-index .site-nav > li > a,.site-nav > li:hover > a, 
    .template-index .site-nav > li:hover > a:hover,
    .template-index .header-top.selectize-control.single .selectize-input input,
    .template-index .customer-links a, 
    .template-index .ct_register a,
    .template-index a.icon_search_hea,
    .template-index a.icon_search {
      color:{{section.settings.header_link_text_color_1}};
    }
    
    
    
    
    .show_search .hl-right-top .nav-search, .show_search .nav_search .nav-search {
      transform: scale(1);
      -webkit-transform: scale(1);
      opacity: 1;
      visibility: visible;
      z-index: 10000;
      transition: all 0.3s ease-in-out 0s;
      -webkit-transition: all 0.3s ease-in-out 0s;
    }
    .is-sticky .hl-right-top .nav-search,.is-sticky .nav_search .nav-search{
    height: 65px;
    }
    .hl-right-top .nav-search, .nav_search .nav-search {
      background-color: #ff7a7a;
/*       overflow: hidden; */
      z-index: -1;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      visibility: hidden;
      height: 91px;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .show_search .hl-right-top .nav-search.on .container, .show_search .nav_search .nav-search .container {
      position: relative;
    }
    
    .hl-right-top .search-bar, .nav_search .search-bar {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
}
.hl-right-top .nav-search.on input.input-group-field, .nav_search input.input-group-field {
    width: 100%;
    background: transparent!important;
    border: none!important;
    font-size: 16px;
    padding-left: 0px;
}
.show_search .icon_search_hea {
    position: absolute;
    right: 0;
    padding: 0px;
    height: 30px;
    width: 30px;
    font-size: 25px;
    border: 1px solid #fff;
    color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    line-height: 30px;
    text-align: center;
}
    .show_search .icon_search_hea:hover{
    text-decoration: none;
}
    .show_search .hl-right-top > .icon_search_hea{
display:none
}
  }

</style>

