<section class="home__quote relative bg-cream pb-32 md:pb-16">
    <div class="container">
        <div class="grid grid-cols-3 items-center gap-24 pr-20 lg:pr-0 md:gap-10 sm:block">
            <div class="sm_min:hidden">
                {% if section.settings.image_2 != blank %}
                    <img src="{{ section.settings.image_2 | img_url: '300x340' }}" class="max-w-[163px] fade-in" data-viewport loading="lazy" width="300" height="340" alt="{{ section.settings.image_2.alt }}" />                    
                {% endif %}                      
            </div>            
            <div class="py-12 -mr-32 md:pl-6 md:pb-0 sm:mr-0 sm:pl-12">
                {% if section.settings.image != blank %}
                    <img src="{{ section.settings.image | img_url: '1200x1500' }}" class="fade-in" data-viewport loading="lazy" width="1200" height="1500" alt="{{ section.settings.image.alt }}" />                    
                    <div class="pt-12 md_min:hidden fade-in" data-viewport>
                        {% if section.settings.quote != blank %}
                            <p class="home__quote-text font-heading text-20 leading-[1.6] mb-8">{{ section.settings.quote }}</p>
                        {% endif %}
                        {% if section.settings.title != blank %}
                            <p class="font-matter text-18 text-brown">{{ section.settings.title }}</p>
                        {% endif %}                    
                        {% if section.settings.role != blank %}
                            <p class="font-italic text-24 text-brown">{{ section.settings.role }}</p>
                        {% endif %}                       
                    </div>                    
                {% endif %}            
            </div>
            <div class="col-span-2">
                <div class="flex justify-end md:mb-12 md:-mt-12 sm:hidden">
                    {% if section.settings.image_2 != blank %}
                        <img src="{{ section.settings.image_2 | img_url: '300x340' }}" class="max-w-[163px] fade-in" data-viewport loading="lazy" width="300" height="340" alt="{{ section.settings.image_2.alt }}" />                    
                    {% endif %}                      
                </div>
                <div class="py-24 pl-40 lg:pl-28 md:hidden fade-in" data-viewport>
                    {% if section.settings.quote != blank %}
                        <p class="home__quote-text font-heading text-38 leading-[1.265] mb-8 lg:text-[28px] md:text-20">{{ section.settings.quote }}</p>
                    {% endif %}
                    {% if section.settings.title != blank %}
                        <p class="font-matter text-18 text-brown">{{ section.settings.title }}</p>
                    {% endif %}                    
                    {% if section.settings.role != blank %}
                        <p class="font-italic text-24 text-brown">{{ section.settings.role }}</p>
                    {% endif %}                       
                </div>
                <div class="flex justify-center md:pl-20 sm:pl-12 sm:pt-10 sm:justify-start">
                    {% if section.settings.image_3 != blank %}
                        <img src="{{ section.settings.image_3 | img_url: '400x450' }}" class="max-w-[197px] fade-in" data-viewport loading="lazy" width="400" height="450" alt="{{ section.settings.image_3.alt }}" />                    
                    {% endif %}                               
                </div>                
            </div> 
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Quote",
    "settings": [        
        {
            "type": "textarea",
            "id": "quote",
            "label": "Quote",
            "default": "Quote about the importance of sustainability goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel. "
        },
        {
            "type": "text",
            "id": "title",
            "label": "Name",
            "default": "Jenan"
         },
         {
            "type": "text",
            "id": "role",
            "label": "Role",
            "default": "CEO of BASK"
         },
         {
            "type": "image_picker",
            "id": "image",
            "label": "Image 1",
            "info": "Recommended Image Dimensions: 1200x1500"
        },          
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2",
            "info": "Recommended Image Dimensions: 300x400"
        },           
        {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3",
            "info": "Recommended Image Dimensions: 400x450"
        }                                           
    ]
}
{% endschema %}