{% assign journal = blogs.journal %}
{% assign main_journal_handle = section.settings.article %}
{% assign journal_handle_2 = section.settings.article_2 %}
{% assign journal_handle_3 = section.settings.article_3 %}

{% for article in journal.articles %}
    {% if article.handle == main_journal_handle %}
        {% assign main_article = article %}
    {% endif %}
    {% if article.handle == journal_handle_2 %}
        {% assign article_2 = article %}
    {% endif %}
    {% if article.handle == journal_handle_3 %}
        {% assign article_3 = article %}
    {% endif %}                                                                
{% endfor %}

<section class="home__journals bg-cream relative">
    <div class="py-10 bg-beige-50 md:py-6" data-viewport>
        <div class="container">
            {% if section.settings.title != blank %}
                <div class="flex-grow md_min:hidden md:mb-6">
                    <h2 class="font-matter text-18 fade-in">{{ section.settings.title }}</h2>
                </div>
            {% endif %}            
            <div class="grid grid-cols-3 gap-24 md:grid-cols-1 md:gap-5">
                <div class="-mr-32 md:-mt-8 md:mr-0 md:order-2">
                    <div class="h-full flex flex-col justify-between space-y-8">
                        {% if section.settings.title != blank %}
                            <div class="flex-grow md:hidden">
                                <h2 class="font-matter text-18 fade-in">{{ section.settings.title }}</h2>
                            </div>
                        {% endif %}
                        {% comment %} MAIN ARTICLE {% endcomment %}
                            <div>
                                <p class="font-matter text-brown text-13 mb-2 fade-in delay-300">{{ main_article.published_at | date: format: 'abbreviated_date' }}</p>
                                {% for tag in main_article.tags %}
                                    {% if forloop.first %}
                                        <p class="font-italic text-24 -mb-1 fade-in delay-600">{{ tag }} —</p>
                                    {% endif %}
                                {% endfor %}
                                <p class="font-matterlight text-24 tracking-[.05em] mb-6 fade-in delay-600">{{ main_article.title }}</p>
                                {% if main_article.excerpt != blank %}
                                    <div class="text-17 mb-8 fade-in delay-900">{{ main_article.excerpt }}</div>
                                {% else %}
                                    {% assign main_article_content = main_article.content | split: "</p>" | first %}
                                    <div class="text-17 mb-8 fade-in delay-900">{{ main_article_content | append: '</p>' }}</div>
                                {% endif %}
                                <a href="{{ main_article.url }}" class="arrow-link-wrap fade-in delay-900" {% if section.settings.link_new_tab %} target="_blank"{% endif %}>
                                    <div class="arrow-link text-brown">{{ section.settings.link_text }}</div>
                                    <svg width="35px" height="18px" viewBox="0 0 35 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(-133.000000, -1134.000000)" fill="#A67C52">
                                                <g transform="translate(133.000000, 1134.000000)">
                                                    <path d="M34.6920857,8.50390775 L34.6908541,8.50390775 C31.5550551,8.50390775 29.2481613,6.42079807 28.1519865,5.1785767 C26.5206566,3.33010883 25.6412535,1.26770283 25.6418693,0.265431917 L25.6418693,0 L24.4921174,0 L24.4921174,0.265431917 C24.4921174,2.19459109 26.8685998,6.54873625 30.6892001,8.50443861 L0,8.50390775 L0,9.49556139 L30.6873526,9.49556139 C29.4409156,10.1294128 28.2646831,11.0552393 27.2374811,12.2210163 C25.4355667,14.2621877 24.4927332,16.5395936 24.4921174,17.7340372 L24.4921174,18 L25.6412535,17.9984074 L25.6412535,17.7335064 C25.6412535,16.7312354 26.5206566,14.6688294 28.1513707,12.8208924 C29.2500088,11.5786711 31.5605975,9.49556139 34.6896224,9.49556139 L34.6920857,9.49556139 L35,9.49556139 L35,8.50390775 L34.6920857,8.50390775 Z" id="Fill-1"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>

                    </div>
                </div>
                <div class="col-start-3 -ml-40 md:col-start-1 md:ml-0 fade-in delay-300">
                    <img src="{{ section.settings.article_image | img_url: '1200x' }}" loading="lazy" width="1200" height="1500" alt="{{ section.settings.article_image.alt }}" />             
                    {% comment %} {% if section.settings.image_2 != blank %}
                        <img src="{{ section.settings.image_2 | img_url: '1200x1500' }}" class="" loading="lazy" />                    
                    {% endif %}                 {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <div class="py-10 md:py-8" data-viewport>
        <div class="container">
            <div class="grid grid-cols-2 gap-10 mb-10 md:grid-cols-1 md:gap-8 md:mb-5">
                {% for tag in article_2.tags %}
                    {% if forloop.first %}
                        {% assign article_2_tag = tag %}
                    {% endif %}
                {% endfor %}           
                {% for tag in article_3.tags %}
                    {% if forloop.first %}
                        {% assign article_3_tag = tag %}
                    {% endif %}
                {% endfor %}                       
                <div class="fade-in">{% render 'article-card', article: article_2, category: article_2_tag %}</div>
                <div class="fade-in delay-300">{% render 'article-card', article: article_3, category: article_3_tag %}</div>
            </div>
            <a href="/blogs/journal" class="arrow-link-wrap fade-in" data-viewport>
                <div class="arrow-link text-brown">View All</div>
                <svg width="35px" height="18px" viewBox="0 0 35 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-133.000000, -1134.000000)" fill="#A67C52">
                            <g transform="translate(133.000000, 1134.000000)">
                                <path d="M34.6920857,8.50390775 L34.6908541,8.50390775 C31.5550551,8.50390775 29.2481613,6.42079807 28.1519865,5.1785767 C26.5206566,3.33010883 25.6412535,1.26770283 25.6418693,0.265431917 L25.6418693,0 L24.4921174,0 L24.4921174,0.265431917 C24.4921174,2.19459109 26.8685998,6.54873625 30.6892001,8.50443861 L0,8.50390775 L0,9.49556139 L30.6873526,9.49556139 C29.4409156,10.1294128 28.2646831,11.0552393 27.2374811,12.2210163 C25.4355667,14.2621877 24.4927332,16.5395936 24.4921174,17.7340372 L24.4921174,18 L25.6412535,17.9984074 L25.6412535,17.7335064 C25.6412535,16.7312354 26.5206566,14.6688294 28.1513707,12.8208924 C29.2500088,11.5786711 31.5605975,9.49556139 34.6896224,9.49556139 L34.6920857,9.49556139 L35,9.49556139 L35,8.50390775 L34.6920857,8.50390775 Z" id="Fill-1"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Journals",
    "settings": [        
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Our Journal"
         },
         {
             "type": "header",
             "content": "Main Article"
         },
         {
            "type": "article",
            "id": "article",
            "label": "Article 1"
        },             
        {
            "type": "image_picker",
            "id": "article_image",
            "label": "Article Image",
            "info": "Recommended Image Dimensions: Portrait Orientation at least 1200px wide"
        },
        {
            "type": "text",
            "id": "link_text",
            "label": "Link Text",
            "default": "Read More"
         },
         {
            "type": "url",
            "id": "link_url",
            "label": "Link URL",
            "default": "/"
         },      
         {
            "type": "checkbox",
            "id": "link_new_tab",
            "label": "Open URL in a new tab?",
            "default": false
         },
         {
            "type": "header",
            "content": "Sub Articles"
        },         
         {
            "type": "article",
            "id": "article_2",
            "label": "Article 2"
        },          
        {
            "type": "article",
            "id": "article_3",
            "label": "Article 3"
        }                   
    ]
}
{% endschema %}