{% assign index = 0 %}


{% if section.blocks.size > 0 %}

    {% for block in section.blocks %}
  
        {% if block.settings.collection %}

            {% for collection in collections %}
                
                {% if block.settings.collection == collection.handle %}

                    <div class="{% if forloop.first %}py-16 md:py-6{% else %}pb-16 md:pb-6{% endif %}">
                        <div class="container">
                            <div class="max-w-[680px] mb-8">
                                <h1 class="font-matterlight text-[50px] mb-4 lg:text-30"><a href="{{ collection.url }}" class="hover:text-orange">{% if block.settings.enable_title and block.settings.title != blank %}{{ block.settings.title }}{% else %}{{ collection.title }}{% endif %}</a></h1>
                                <div class="text-24 font-heading space-y-8 md:text-20 md:leading-normal md:pr-5 md:mb-6 fade-in delay-300">{{ collection.description }}</div>
                            </div>    
                            <div class="grid grid-cols-3 gap-10 mb-8 lg:gap-10 md:grid-cols-1">
                                {% for prod in collection.products limit: 6 %}
                                    {% assign prod_category = prod.type %}           
                                    {% assign delay_amt = forloop.index0 | times: 300 %}
                                    <div class="collection__main-item fade-in{% unless forloop.first %} delay-{{ delay_amt }}{% endunless %}" data-viewport>{% render 'product-card', prod: prod, category: prod_category %}</div>
                                {% endfor %}
                            </div>
                            <div class="flex justify-center pb-16{% unless forloop.last %} border-b border-brown{% endunless %} md:pb-10">
                                <div><a href="{{ collection.url }}" class="button">Shop all {% if block.settings.enable_title and block.settings.title != blank %}{{ block.settings.title }}{% else %}{{ collection.title }}{% endif %}</a></div>
                            </div>
                        </div>
                    </div>                
        
                    {% assign index = index | plus: 1 %}
                {% endif %}

            {% endfor %}
    
        {% endif %}

    {% endfor%}

{% endif %}

{% schema %}
{
  "name": "Collections",
  "class": "hero",
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",         
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "checkbox",
          "id": "enable_title",
          "label": "Enable Title Override?",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "Collection Title Override"
        }
      ]
    }
  ]
}
{% endschema %}