{% assign current_variant = product.selected_or_first_available_variant %}
{% assign metafields = product.metafields.bask %}
{% assign is_available = false %}
{% for variant in product.variants %}
    {% if variant.inventory_quantity > 0 %}    
        {% assign is_available = true %}
    {% endif %}
{% endfor %}

<section class="product__hero pt-20 md:pt-0">
    <div class="container md:px-0">
        <div class="sticky__parent grid md_min:grid-cols-7 gap-20 lg:gap-9 md:gap-0 md:flex md:flex-col md:pb-5">
          <div class="col-span-4 md:col-span-1 md:order-2">
            <div class="grid grid-cols-[80px_1fr] gap-9 md:grid-cols-1">
              <div class="hidden md_min:block">
                <div class="sticky top-[60px]">
                  <div class="product__nav-gallery grid gap-8">
                    {% for image in product.images %}
                        <a href="#{{ image.id }}" class="product__nav-gallery-item"><img src="{{ image.src | img_url: '300x300', crop: 'center' }}" width="300" height="300" alt="{{ image.alt }}" loading="lazy"></a>
                    {% endfor %}
                  </div>
                </div>                
              </div>
              <div class="md:hidden">
                <div class="grid gap-8 md:-mt-[80px]">
                  {% for image in product.images %}
                      <img id="{{ image.id}}" src="{{ image.src | img_url: '1200x1500', crop: 'center' }}" class="fade-in scroll-mt-48 md:h-[85vw] md:object-cover sm:aspect-[3/4] sm:h-auto" width="1200" height="1200" alt="{{ image.alt }}" loading="lazy" data-viewport>
                  {% endfor %}
                </div>
              </div>
            </div>

              {% comment %} OUR GUARANTEE {% endcomment %}
              {% if metafields.our_guarantee != blank %}
                <div class="border-b border-t border-brown pt-4 pb-2 mt-20 md:mt-0 md:mx-5">
                    <div class="font-matter text-13 toggle-trigger relative cursor-pointer pb-2" data-container="info-guarantee">Our Guarantee</div>
                    <div id="info-guarantee" class="text-17 leading-[1.59] toggle-container space-y-4">{{ metafields.our_guarantee }}</div>      
                </div>
              {% else %}
                {% if section.settings.our_guarantee != blank %}
                  <div class="border-b border-t border-brown pt-4 pb-2 mt-20 md:mt-0 md:mx-5">
                    <div class="font-matter text-13 toggle-trigger relative cursor-pointer pb-2" data-container="info-guarantee">Our Guarantee</div>
                    <div id="info-guarantee" class="text-17 leading-[1.59] toggle-container space-y-4">{{ section.settings.our_guarantee }}</div>      
                  </div>                  
                {% endif %}               
              {% endif %} 

              {% comment %} SHIPPING & RETURNS {% endcomment %}
              {% if metafields.shipping_returns != blank %}
                <div class="border-b border-t border-brown pt-4 pb-2 -mt-[1px] md:mx-5">
                  <div class="font-matter text-13 toggle-trigger relative cursor-pointer pb-2" data-container="info-shipping">Shipping + Returns</div>
                  <div id="info-shipping" class="text-17 leading-[1.59] toggle-container">{{ metafields.shipping_returns }}</div>      
                </div>    
              {% else %}
                {% if section.settings.shipping_returns != blank %}
                  <div class="border-b border-t border-brown pt-4 pb-2 -mt-[1px] md:mx-5">
                    <div class="font-matter text-13 toggle-trigger relative cursor-pointer pb-2" data-container="info-shipping">Shipping + Returns</div>
                    <div id="info-shipping" class="text-17 leading-[1.59] toggle-container space-y-4">{{ section.settings.shipping_returns }}</div>      
                  </div>                     
                {% endif %}                   
              {% endif %}          
              
              {% comment %} REVIEWS {% endcomment %}
              <div class="border-b border-t border-brown pt-4 pb-2 -mt-[1px] md:mx-5">
                <div class="font-matter text-13 toggle-trigger relative pb-2 cursor-pointer" data-container="info-reviews">Reviews [{% if product.metafields.reviews.rating_count == blank %}0{% else %}{{ product.metafields.reviews.rating_count }}{% endif %}]</div>
                <div id="info-reviews" class="text-17 leading-[1.59] toggle-container">
                  <div id="shopify-product-reviews" class="review space-y-4" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                </div>      
              </div>                 
             
  
          </div>
          <div class="sticky__scroller-wrap pb-20 col-span-3 md:col-span-1 md:pb-0" data-top-spacing="150">
            <div class="sticky__scroller">  
              <div class="product__main-gallery carousel grid gap-8 -mt-[80px] mb-4 md_min:hidden">
                {% for image in product.images %}
                    <img id="{{ image.id}}" src="{{ image.src | img_url: '1200x1500', crop: 'center' }}" class="fade-in scroll-mt-48 md:h-[85vw] md:object-cover sm:aspect-[3/4] sm:h-auto" width="1200" height="1200" alt="{{ image.alt }}" loading="lazy" data-viewport>
                {% endfor %}
              </div>
              <div class="md:p-5 md:pb-0">
                {% if product.type != blank %}
                  <div class="font-italic text-24 -mb-1">{{ product.type  }} —</div>
                {% endif %}
                <h1 class="font-matterlight text-24 tracking-[.05em] mb-5 md:mb-0">{{ product.title }}</h1>
                <p class="font-matter text-brown tracking-widest mb-5">{{ product.price | money_without_trailing_zeros }}</p>
                {% if product.has_only_default_variant %}
                  <div class="border-t border-brown mb-4"></div>
                {% endif %}
                {% form 'product', product, id: 'add-to-cart', data-product-handle: product.handle, class: "flex flex-col" %}
  
                    <select id="product-select" name="id" style="display:none;">
                        {% for variant in product.variants %}
                          {% if variant.available %}
                            <option value="{{variant.id}}" data-qty="{% if variant.inventory_management != blank %}{{ variant.inventory_quantity }}{% else %}9999{% endif %}"{% if current_variant.title == variant.title %} selected="selected"{% endif %}>{{ variant.title }} for {{ variant.price | money_with_currency }}</option>
                          {% else %}
                            <option value="{{variant.id}}" disabled="disabled" data-qty="{{ variant.inventory_quantity }}"> {{ variant.title }} - sold out!</option>
                          {% endif %}
                        {% endfor %}
                    </select>  
      
                    {% unless product.has_only_default_variant %}
                      {% for option in product.options_with_values %}
                      {% assign optionindex = forloop.index0 %}
                        {% if option.name contains 'Color' %}
                          <div class="border-t border-brown mb-4"></div>
                          <div class="swatch__group-wrap mb-6 md:mb-0"} data-option="{{ optionindex }}">
                            <div class="swatch__group mr-6 md:mr-0 md:mb-6{% unless is_available %} disabled{% endunless %}">
                              <div class="flex items-end mb-2">
                                <div class="swatch__label font-matter text-13">Color: {% if optionindex == 0 %}{{ current_variant.title | split: ' / ' | first }}{% else %}{{ current_variant.title | split: ' / ' | last }}{% endif %}</div>
                              </div>
                              <div class="flex items-center">
                                {% for value in option.values %}
                                  {% for tag in product.tags %}
                                    {% if tag contains value %}
                                      {% assign swatch_color = tag | split: ': ' | last %}
                                    {% endif %}
                                  {% endfor %}                             
                                  <div class="swatch__wrap relative mr-3{% if current_variant.title contains value %} active{% endif %}{% if variant.inventory_quantity == 0 %} disabled{% endif %}">
                                    <input type="radio" id="{{ value | handleize }}" name="Color" value="{{ value }}" data-title="{{ value }}" class="swatch__radio {{ value | handleize }} absolute left-0 -top-[3px] h-full w-full opacity-0" data-qty-{{ variant.option1 | handleize }}="{{ variant.inventory_quantity }}" data-option="{{ optionindex }}"{% if current_variant.title contains value %} checked{% endif %}>
                                    <span class="swatch {{ value | handleize }} inline-block rounded-full w-[18px] h-[18px]" style="background-color: {{ swatch_color }};"></span>
                                  </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>          
                        {% elsif option.name contains 'Size' %} 
                          <div class="border-t border-brown mb-4"></div> 
                          <div class="size__group-wrap mb-2" data-option="{{ optionindex }}">
                            <div{% unless is_available %} class="disabled"{% endunless %}>
                              <div class="flex items-center mb-2">
                                <div class="size__label font-matter text-13">Select a Size</div>
                              </div>
                              <div class="flex items-center flex-wrap md:flex-nowrap md:overflow-auto md:-ml-5 md:-mr-5 md:pl-5">
                                {% for value in option.values %}  
                                  <div class="size__button relative mr-3{% for option in current_variant.options %}{% if option == value %} active{% endif %}{% endfor %}{% if variant.inventory_quantity == 0 %} disabled{% endif %}">
                                    <input type="radio" id="{{ value }}" name="Sizes" value="{{ value }}" data-title="{{ value }}" class="size__radio absolute left-0 -top-[3px] h-full w-full opacity-0"{% for variant in product.variants %}{% if variant.title contains value %} data-variant-id="{{ variant.id }}" data-qty="{{ variant.inventory_quantity }}"{% endif %}{% endfor %}{% for option in current_variant.options %}{% if option == value %} checked{% endif %}{% endfor %}>
                                    <span for="{{ value }}" class="radio-button-label form-label">{{ value }}</span>
                                  </div>
                                {% endfor %}    
                              </div>
                            </div>
                          </div>             
                          {% comment %} <a href="#" class="font-matter text-13 opacity-30 mb-6 hover:opacity-100">Size Guide</a>                           {% endcomment %}
                        {% endif %}
  
                      {% endfor %}
                    {% endunless %}
  
                    <div class="text-17 leading-[1.59] space-y-8 mb-10 md:order-8 md:mt-6 md:mb-4">{{ product.description }}</div>
                    <div class="mb-10 md:order-9">
                      {% assign url = shop.url | append: request.path %}
                      {% render 'share', url: url, title: product.title, excerpt: product.excerpt %}
                    </div>
  
                    <input type="number" class="" name="quantity" placeholder="1" id="quantity" style="display:none;">
                    <input type="submit" name="add" id="add" value="Add to Cart" class="button__outline mb-3" onclick="window.addToCart('add-to-cart'); return false;">
                    <div><a href="{{ shop.url }}/cart/{{ current_variant.id }}:1" id="buy-now" class="button w-full block text-center">Buy It Now</a></div>
  
                {% endform %}                     
              </div>           
            </div>
          </div>
        </div>
        <div class="border-b border-brown mt-24 md:mt-6"></div>
    </div>
</section>

{% schema %}
{
    "name": "Hero",
    "class": "hero",
    "settings": [
      {
        "type": "header",
        "content": "Our Guarantee Dropdown"
      },
      {
        "type": "richtext",
        "id": "our_guarantee",
        "label": "Content",
        "default": "<p>Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Fusce a quam. Morbi vestibulum volutpat enim. Sed aliquam ultrices mauris.</p>"
      },
      {
        "type": "header",
        "content": "Shipping + Returns Dropdown"
      },
      {
        "type": "richtext",
        "id": "shipping_returns",
        "label": "Content",
        "default": "<p>Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Nam pretium turpis et arcu. Fusce a quam.</p>"
      }
    ]
}
{% endschema %}