<section class="hero search__main bg-cream pt-40" data-viewport>
    <div class="container pt-20 pb-40 md:py-8">
        <h1 class="font-matterlight text-[50px] mb-8 lg:text-30 text-center">Search: <span class="font-italic normal-case">{{ search.terms | escape }}</span></h1>
        {% paginate search.results by 10 %}
        {% comment %} <div class="max-w-lg mx-auto mb-24">
            <form action="/search" method="get" role="search" class="form w-full">
                <input type="search" name="q" value="{{ search.terms | escape }}" class="form__input font-heading normal-case text-24 pt-6 mb-4 border-b border-black w-full md:border-0 md:pt-0" maxlength="256" autocomplete="off" placeholder="Search...">
                <button type="submit" class="button">search</button>
            </form>
        </div> {% endcomment %}
        
        {% if search.performed %}
            {% assign loop = 0 %}
            {% for item in search.results %}
              {% if item.object_type == 'product' %}
                {% assign loop = loop | plus: 1 %}
              {% endif %}
            {% endfor %}        
            {% if search.results != empty %}
              {% comment %} <h3 class="font-heading text-38 leading-[1.265] mt-12 mb-8 lg:text-[28px] md:text-20">Products – {{ loop }}</h3> {% endcomment %}
              <div class="mb-12 relative grid grid-cols-3 gap-10 md:gap-5 md:grid-cols-2">
                {% for item in search.results %}
                  {% if item.object_type == 'product' %}
                        {% render 'product-card', prod: item, category: item.type %}
                  {% elsif item.object_type == 'article' %}
                    {% for tag in item.tags limit: 1 %}
                        {% assign article_tag = tag %}
                    {% endfor %}
                    {% render 'article-card', article: item, category: article_tag %}
                  {% else %}
                    <a href="{{ item.url }}" class="item__card">
                        {% if item.featured_image != blank %}
                            <img src="{{ item.featured_image | img_url: '1200x800', crop:'center'  }}" loading="lazy" class="w-full mb-6">
                        {% endif %}
                        <p class="font-matter text-brown text-13 mb-2">{{ item.published_at | date: format: 'abbreviated_date' }}</p>
                        <div class="item__card-hover glow-bubble"></div>
                        <div class="item__card-hover-text">Learn More</div>
                        <div>
                            <p class="item__card-title block font-matterlight text-24 lg:text-20">{{ item.title }}</p>
                        </div>
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
            {% else %}
              <p class="font-italic text-24 text-center mt-12">Sorry, no results found.</p>    
            {% endif %}
        {% endif %}
      
        {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
      {% endpaginate %}
      
    </div>
</section>

{% schema %}
{
    "name": "Main",
    "settings": [

    ]
}
{% endschema %}