<section class="sustainability__process bg-cream py-16 md:py-7" data-viewport>
    <div class="container">
        <div class="px-16 md:px-0">
            {% if section.settings.title != blank %}
                <h1 class="font-italic text-75 leading-none text-brown mb-6 md:text-[44px] fade-in">{{ section.settings.title | replace: '[', '<span class="font-matterlight">' | replace: ']', '</span>' }}</h1>
            {% endif %}
            {% if section.settings.bodycopy != blank %}
                <div class="font-heading text-24 mb-20 space-y-8 max-w-[665px] md:text-20 md:leading-normal md:mb-8 fade-in delay-300">{{ section.settings.bodycopy }}</div>
            {% endif %}
            <div>
                <div class="flex justify-between pb-6 mb-10 border-b border-brown md:pb-[72px]">
                    {% if section.settings.snapshot_title != blank %}
                        <h3 class="font-matter text-18 text-brown md:max-w-[250px] fade-in delay-600">{{ section.settings.snapshot_title }}</h3>
                    {% endif %}
                </div>
                <div class="carousel md:carousel__align-left fade-in delay-900" data-flickity='{ "cellAlign": "left", "wrapAround": true, "imagesLoaded": true, "pageDots": false }'>
                    {% for block in section.blocks %}
                        {% assign orientation = forloop.index | modulo: 2 %}
                        <div class="{% if orientation == 0%}process__item-odd{% else %}process__item-even{% endif %} mr-8">
                            {% if block.settings.image != blank %}
                                <img src="{{ block.settings.image | img_url: '600x' }}" loading="lazy" width="600" height="{{ block.settings.image.height }}" class="mb-6" alt="{{ block.settings.image.alt }}">
                            {% endif %}
                            {% if block.settings.title != blank %}
                                <p class="text-17 leading-[1.59]">{{ block.settings.title }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% comment %} <div class="w-3/5 mr-8">{% render 'product-card' %}</div>
                    <div class="w-3/5 mr-8">{% render 'product-card' %}</div>
                    <div class="w-3/5 mr-8">{% render 'product-card' %}</div> {% endcomment %}
                </div>                
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Our Process",
    "settings": [        
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Our [Process]",
            "info": "Wrap italicized texts in brackets (i.e. [Process])"
        },
        {
            "type": "richtext",
            "id": "bodycopy",
            "label": "Bodycopy",
            "default": "<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>"
        },
        {
            "type": "text",
            "id": "snapshot_title",
            "label": "Title",
            "default": "Thoughtful Snapshots"
        }                    
    ],
    "blocks": [
        {
            "type": "snapshot",
            "name": "Snapshot",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image",
                    "info": "Recommended Image Dimensions: Portrait Dimensions"
                },  
                {
                    "type": "text",
                    "id": "title",
                    "label": "Description"
                }
            ]
        }
    ]    
}
{% endschema %}