<section class="sustainability__objects bg-cream py-10 md:pt-7 md:pb-2">
    <div class="container">
        <div class="grid grid-cols-2 gap-10 md:grid-cols-1 sm:gap-0" data-viewport>
            <div class="">
                {% if section.settings.image != blank %}
                    <img src="{{ section.settings.image | img_url: '1200x1500' }}" class="fade-in" loading="lazy" width="1200" height="1500" alt="{{ section.settings.image.alt }}" />                    
                {% endif %}                
            </div>
            <div class="pt-32 md:pt-6">        
                <div class="grid grid-cols-3 gap-16 relative -left-36 -mr-36 md:block md:left-0 md:mt-24 md:mr-0">   
                    <div class="mt-24 md:max-w-[45vw] md:ml-12 md:-mt-[32vw] md:absolute md:mb-0 fade-in delay-300">
                        {% if section.settings.image_2 != blank %}
                            <img src="{{ section.settings.image_2 | img_url: '400x450' }}" class="parallax" data-parallax-y="-160" data-parallax-trigger=".sustainability__objects" loading="lazy" width="400" height="450" alt="{{ section.settings.image_2.alt }}" />                    
                        {% endif %}                    
                    </div>  
                    <div class="col-start-2 col-span-2 md:px-12 fade-in delay-600">
                        {% if section.settings.title != blank %}
                            <h2 class="font-heading text-38 leading-[1.265] text-brown md:text-30 md:leading-[1.325]">{{ section.settings.title }}</h2>
                        {% endif %}
                        {% if section.settings.bodycopy != blank %}
                            <div class="font-heading text-24 mt-8 space-y-8 lg:space-y-6 md:text-20 md:leading-normal">{{ section.settings.bodycopy }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-40 items-center pt-10 pl-16 lg:pl-0 md:grid-cols-1 md:pl-12 md:gap-10" data-viewport>
            <div class="col-span-2 md:order-2 fade-in">
                {% if section.settings.headline_2 != blank %}
                    <h3 class="font-heading text-38 leading-[1.265] text-brown md:text-30 md:leading-[1.325] fade-in">{{ section.settings.headline_2 }}</h3>
                {% endif %}
            </div>
            <div class="md:-mr-[46px] md:max-w-[calc(100vw_-_88px)] md:mb-10">
                <img src="{{ section.settings.image_3 | img_url: '600x700' }}" class="md:w-full fade-in delay-300" loading="lazy" width="600" height="700" alt="{{ section.settings.image_3.alt }}" />                    
            </div>
        </div>
        <div class="grid grid-cols-3 gap-40 items-center pt-4 pl-16 lg:pt-6 md:pb-8 md:pt-16 md:grid-cols-1 md:gap-0">
            <div class="col-span-2 flex justify-center md:justify-end">
                {% if section.settings.image_4 != blank %}
                    <img src="{{ section.settings.image_4 | img_url: '260x300' }}" class="max-w-[135px] mx-auto md:mr-0 fade-in delay-600" loading="lazy" width="260" height="300" alt="{{ section.settings.image_4.alt }}" data-viewport="-500" />                    
                {% endif %}
            </div>
            <div></div>
        </div>        
    </div>
</section>

{% schema %}
{
    "name": "Objects",
    "settings": [        
         {
            "type": "image_picker",
            "id": "image",
            "label": "Image 1",
            "info": "Recommended Image Dimensions: 1200x1500"
        },             
         {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2",
            "info": "Recommended Image Dimensions: 300x400"
        },
        {
            "type": "textarea",
            "id": "title",
            "label": "Headline",
            "default": "Fifty-million straws are discarded each year in the US alone."
         },
         {
            "type": "richtext",
            "id": "bodycopy",
            "label": "Bodycopy",
            "default": "<p> The only way to move forward on planet Earth is to do so sustainably; we truly believe this, and so lays the foundation for our entire concept.</p><p>Each item’s loving purpose is both with the users’ and our environment’s best interest in mind.</p>"
        },     
        {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3",
            "info": "Recommended Image Dimensions: 600x700"
        },           
        {
            "type": "textarea",
            "id": "headline_2",
            "label": "Headline 2",
            "default": "The beauty in small, daily items is not mundane. Everything we use on a regular basis should align with a doctrine of ethos that honors our planet and its limited resources. It’s ok to start small."
        },
        {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image 4",
            "info": "Recommended Image Dimensions: 260x300"
        }               
    ] 
}
{% endschema %}