<div class="banner-home-top par" id="{{settings.list_two}}"  data-wow-delay="{{ settings.time_lazy_load }}ms">
  <ul class="banner-2">
    <li class="col-xs-12 col-sm-6 wow fadeInUp " data-wow-delay="{{ settings.time_lazy_load }}ms">
      <div class="zi-banner">
          <div class="zi-banner-image">
            {% if section.settings.banner_2_image_1 != blank %}
            {%- assign banner_2_img_url_1 = section.settings.banner_2_image_1 | img_url: '960x' -%}
            <div class="hidden-xs" style="background-image: url({{ banner_2_img_url_1 }});background-size:cover" alt="{{ section.settings.image.alt }}"></div>
            <img src="{{ banner_2_img_url_1}}" class="visible-xs" alt="{{ section.settings.image.alt }}" />
            {% else %} 	
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          <div class="des-banner" style="color: {{ section.settings.banner_2_heading_color_1 }};">
             {% if section.settings.banner_2_heading_banner_1 != blank %}
            <h2 style="font-size: {{ section.settings.banner_2_heading_size_1 }}px;">
              {% render 'multilang' with section.settings.banner_2_heading_banner_1 %}
            </h2>
             {% endif %}
            {% if section.settings.banner_2_des_1 != blank %}
            <div class="banner-text" style="font-size: {{ section.settings.banner_2_des_size_1 }}px;">
              {% render 'multilang' with section.settings.banner_2_des_1 %}
            </div>
             {% endif %}
            {% if section.settings.banner_2_button_1 != blank %}
            <a class="banner-bt" style="border-bottom:2px solid {{section.banner_2_heading_color_1}};
                      font-size: {{ section.settings.banner_2_button_size_1 }}px;
                      color: {{ section.settings.banner_2_heading_color_1 }};"
               href="{{ section.settings.banner_2_link_1 }}">                   
              {% render 'multilang' with section.settings.banner_2_button_1 %}
            </a>
             {% endif %}
          </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-6 wow fadeInUp " data-wow-delay="{{ settings.time_lazy_load }}ms">
      <div class="zi-banner">
          <div class="zi-banner-image">
            {% if section.settings.banner_2_image_2 != blank %}
            {%- assign banner_2_img_url_2 = section.settings.banner_2_image_2 | img_url: '960x' -%}
            <div class="hidden-xs" style="background-image: url({{ banner_2_img_url_2 }});background-size:cover" alt="{{ section.settings.image.alt }}"></div>
             <img src="{{ banner_2_img_url_2}}"  class="visible-xs" alt="{{section.settings.image.alt }}" />
            {% else %} 	
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          <div class="des-banner" style="color: {{  section.settings.banner_2_heading_color_2 }}">
            {% if section.settings.banner_2_heading_banner_2 != blank %}
            <h2 style="font-size: {{ section.settings.banner_2_heading_size_2 }}px;">
              {% render 'multilang' with section.settings.banner_2_heading_banner_2 %}
            </h2>
            {% endif %}
             {% if section.settings.banner_2_des_2 != blank %}
            <div class="banner-text"  style="font-size: {{ section.settings.banner_2_des_size_2 }}px;">
              {% render 'multilang' with section.settings.banner_2_des_2 %}
            </div>
            {% endif %}
             {% if section.settings.banner_2_button_2 != blank %}
            <a class="banner-bt" style="border-bottom:2px solid {{section.banner_2_heading_color_2}};
                      font-size: {{ section.settings.banner_2_button_size_2 }}px;
                      color: {{  section.settings.banner_2_heading_color_2 }}"
               href="{{ section.settings.banner_2_link_2 }}">                   
              {% render 'multilang' with section.settings.banner_2_button_2 %}
            </a>
            {% endif %}
          </div>
      </div>
    </li>
    <a href="#{{settings.list_three}}" class="goto-next scrolly">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" zoomAndPan="disable" x="0px" y="0px" viewBox="0 0 36 18" style="enable-background:new 0 0 36 18;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:none;stroke:#fff;stroke-width:1.5;}
          </style>
          <line class="st0" x1="36" y1="0" x2="18" y2="18"/>
          <line class="st0" x1="0" y1="0" x2="18" y2="18"/>
          <head xmlns=""/></svg>
      </a>
  </ul>
</div>
{% schema %}
  {
    "name": "Two Banner Block",
    "class": "index-section index-section--flush match-nav",
    "settings": [
          {
          "type": "image_picker",
          "id": "banner_2_image_1",
          "label": "BANNER #1",
          "info": "960px wide by 900px high recommended"
          },
 		  {
            "type": "color",
            "id": "banner_2_heading_color_1",
            "label": "Banner Text Color",
            "default": "#fff",
            "info": "Default Value: #fff"
          },
		 {
            "type": "text",
            "id": "banner_2_heading_banner_1",
            "label": "Heading Banner",
            "default": "Shop For Her"
          },
          {
            "type": "text",
            "id": "banner_2_heading_size_1",
            "label": "Heading Banner Size",
            "default": "42",
            "info": "Default Value: 42"
          }, 
		  {
            "type": "richtext",
            "id": "banner_2_des_1",
            "label": "Subheading"
	  	  },
          {
            "type": "text",
            "id": "banner_2_des_size_1",
            "label": "SubHeading Font Size",
            "default": "12",
            "info": "Default Value: 12"
          },
	      {
            "type": "text",
            "id": "banner_2_button_1",
            "label": "Banner Button",
	       "default" : "Shop Now"
          },
	      {
            "type": "text",
            "id": "banner_2_button_size_1",
            "label": "Buton Font Size",
            "default": "12",
            "info": "Default Value: 12"
          },
          {
            "type": "url",
            "id": "banner_2_link_1",
            "label": "Buton Link",
            "info": "Optional"
          },
		  {
          "type": "image_picker",
          "id": "banner_2_image_2",
          "label": "BANNER #2",
          "info": "960px wide by 900px high recommended"
          },
		   {
            "type": "color",
            "id": "banner_2_heading_color_2",
            "label": "Banner Text Color",
            "default": "#fff",
            "info": "Default Value: #fff"
          },
		 {
            "type": "text",
            "id": "banner_2_heading_banner_2",
            "label": "Heading Banner",
            "default": "Shop For Him"
          },
         
          {
            "type": "text",
            "id": "banner_2_heading_size_2",
            "label": "Heading Banner Size",
            "default": "42",
            "info": "Default Value: 42"
          },      
          {
            "type": "richtext",
            "id": "banner_2_des_2",
            "label": "Subheading"
	  	  },
          {
            "type": "text",
            "id": "banner_2_des_size_2",
            "label": "SubHeading Font Size",
            "default": "12",
            "info": "Default Value: 12"
          },
	      {
            "type": "text",
            "id": "banner_2_button_2",
            "label": "Banner Button",
	       "default" : "Shop Now"
          },
	      {
            "type": "text",
            "id": "banner_2_button_size_2",
            "label": "Buton Font Size",
            "default": "12",
            "info": "Default Value: 12"
          },
          {
            "type": "url",
            "id": "banner_2_link_2",
            "label": "Buton Link",
            "info": "Optional"
          }
		 
        ],
    "presets": [
          {
            "name": "Two Banner Block",
            "category": "Images"
          }
        ]
  }
{% endschema %}